{% extends "layouts/main-new-header-v4.html" %}

{% block pageTitle %}
    Does the related study have the same funding ID as the new study? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "does-related-study-have-same-iras-id"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       

        <form action="does-related-study-have-same-funding-id" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Does the related study have the same funding ID as the new study? 
                        </h1>
                    </legend>
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="funding" name="funding-id" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="funding">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="funding-2" name="funding-id" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="funding-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        I'm not sure if the related study has the same funding ID as the new study
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>If you're not sure what the study's funding ID is, you can usually find it in the system where you applied for funding.</p>
                    <p>Examples of these might include:</p>
                    <ul>
                        <li>Research Awards Lifecycle Management System (REALMS)</li>
                        <li>NIHR Evaluation, Trials and Studies Coordinating Centre (NETSCC)</li>
                        <li>OneNIHR</li>
                    </ul>
                </div>
            </details>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}