{% extends "layouts/main-new-header-v4.html" %}

{% block pageTitle %}
	Your session has ended - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Your session has ended
        </h1>

        <p class="govuk-body">
            You have successfully ended your session.
        </p>
    </div>
</div>

{% endblock %}
