{% extends "layouts/main-new-header-v4.html" %}

{% block pageTitle %}
	A new study team member has been added to [study name] - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                A new study team member has been added
            </h1>
            <div class="govuk-panel__body">
                {{ data['member-full-name'] | title | default('James Bond') }}<br>
                <strong>{{ data['member-email-address'] | default('james.bond@email.com') }}</strong>
            </div>
        </div>
                        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We have updated [study name] with the new team member's details.</p>
        <p><a href="manage-my-study" role="button" draggable="false" class="govuk-button" data-module="govuk-button">Return to manage my study</a></p>
    </div>
</div>

{% endblock %}
