{% extends "layouts/main-new-header-v4.html" %}

{% block pageTitle %}
    We could not find a matching study – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">   
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6 govuk-panel-blue">
            <h1 class="govuk-panel__title">
                We could not find a matching study
            </h1>
            <div class="govuk-panel__body">
                The details you provided have not been matched to an existing study
            </div>
        </div>

        <h2 class="govuk-heading-m">What to do next?</h2>

        <p>Check that you have the correct government research identifier service ID (GRIS ID) for the study.</p>
        <p>The chief investigator of the study will have the GRIS ID. If you do not know who this is, email the NIHR Study Support Helpdesk at <a href="mailto:supportmystudy@nihr.ac.uk">supportmystudy@nihr.ac.uk</a>.</p>
        <p>Check that you have entered the correct email address for the study's chief investigator.</p>
        <p><a href="search-for-gris-id">Search for the study again</a></p>
        <p><a href="does-study-have-gris-id">Create a new GRIS ID for a study</a></p>
    </div>
</div>

{% endblock %}