{% extends "layouts/main-new-header-v4.html" %}

{% block pageTitle %}
    What is the government research identifier service ID (GRIS ID) for the study you want to view or make changes to? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "what-do-you-want-to-do"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds"> 
        {% if errorSummary %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary
            }) }}
        {% endif %}
  
        <form action="search-for-gris-id" method="post">                     

            <div class="govuk-form-group {% if errorSummary %} govuk-form-group--error {% endif %}">
                <fieldset class="govuk-fieldset" role="group" aria-describedby="gris-id-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What is the government research identifier service ID (GRIS ID) for the study you want to view or make changes to?
                        </h1>
                    </legend>
                    
                    <div id="gris-id-hint" class="govuk-hint">
                        For example, GRIS-872 872 24
                    </div>

                    {% if errorSummary %}
                    <p id="gris-id-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Enter a valid GRIS ID
                    </p>
                    {% endif %}
                    
                    <div class="govuk-date-input" id="gris-id">
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <div class="govuk-input__wrapper">
                                    <label class="govuk-label govuk-visually-hidden" for="gris-id-one">
                                        GRIS ID part one
                                    </label>
                                    <div class="govuk-input__prefix" aria-hidden="true">GRIS-</div>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errorSummary %} govuk-input--error {% endif %}" id="gris-id-one" name="gris-id-one" type="text" inputmode="numeric">
                                </div>
                            </div>
                        </div>

                        <!-- <p class="govuk-!-display-inline govuk-!-margin-right-1 govuk-!-margin-left-1" >-</p> -->

                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-visually-hidden" for="gris-id-two">
                                    GRIS ID part two
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errorSummary %} govuk-input--error {% endif %}" id="gris-id-two" name="gris-id-two" type="text" inputmode="numeric">
                            </div>
                        </div>

                        <!-- <p class="govuk-!-display-inline govuk-!-margin-right-1 govuk-!-margin-left-1" >-</p> -->
                        
                        <div class="govuk-date-input__item">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-visually-hidden" for="gris-id-three">
                                    GRIS ID part three
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4 {% if errorSummary %} govuk-input--error {% endif %}" id="gris-id-three" name="gris-id-three" type="text" inputmode="numeric">
                            </div>
                        </div>

                        <!-- <p class="govuk-!-display-inline govuk-!-margin-right-1 govuk-!-margin-left-1" >-</p> -->

                        <!-- <div class="govuk-date-input__item govuk-!-margin-right-0">
                            <div class="govuk-form-group">
                                <label class="govuk-label govuk-visually-hidden" for="gris-id-four">
                                    GRIS ID part four
                                </label>
                                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="gris-id-four" name="gris-id-four" type="text" inputmode="numeric">
                            </div>
                        </div> -->
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How do I find the GRIS ID of a study?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>
                        The GRIS ID should be held by the chief investigator of the study. 
                    </p>
                    <p>
                        If you cannot contact them, email the NIHR Study Support Service Helpdesk at <a href="mailto:supportmystudy@nihr.ac.uk">supportmystudy@nihr.ac.uk</a>.
                    </p>
                </div>
            </details>
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}