{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
    What is the email address of the chief investigator for the study you want to view or make changes to? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "search-for-gris-id"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">   
        {% if errorSummary %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary
            }) }}
        {% endif %}    
        <form action="search-for-chief-investigator-email" method="post">                     
<div class="govuk-form-group {% if errorSummary %}govuk-form-group--error{% endif %}">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="email-search">
      What is the email address of the chief investigator for the study you want to view or make changes to?
    </label>
  </h1>

  {% if errorSummary %}
    <p id="email-search-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errorSummary[0].text }}
    </p>
  {% endif %}

  <input class="govuk-input {% if errorSummary %}govuk-input--error{% endif %}"
         id="email-search"
         name="email-search"
         type="email"
         aria-describedby="{% if errorSummary %}email-search-error{% endif %}">
</div>
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}