{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
  Government research identifier service – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Government research identifier service"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
  	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Government research identifier service
			</h1>

			<p>Use this service to:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>create a unique government research identifier service ID (GRIS ID)</li>
				<li>view an existing study</li>
				<li>make changes to an existing study</li>
			</ul>

			<h2 class="govuk-heading-m">
				Before you start
			</h2>
			<p>To create a new GRIS ID, you'll need:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>the short title of the study</li>
				<li>an ORCID iD for the chief investigator or a key team member</li>
			</ul>

			<p>It would be helpful to know the details of any related study, such as the GRIS ID, IRAS ID, and funding ID.</p>
			<p>To view or make changes to a study, you'll need the:</p>

			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
				<li>the study's existing GRIS ID </li>
				<li>the chief investigator's email address</li>
			</ul>
			
			{{ govukButton({
				text: "Start now",
				href: "what-do-you-want-to-do",
				isStartButton: true
			}) }}

		</div>
	</div>
{% endblock %}
