{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
    What do you want to do? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="what-do-you-want-to-do" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What do you want to do?
                        </h1>
                    </legend>     

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="start-route" name="start-route" type="radio" value="create">
                            <label class="govuk-label govuk-radios__label" for="start-route">
                                Create a unique government research identifier service ID (GRIS ID)
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="start-route-2" name="start-route" type="radio" value="manage">
                            <label class="govuk-label govuk-radios__label" for="start-route-2">
                                View or edit an existing study
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What is a GRIS ID? 
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>A GRIS ID is a unique code for each new study, including sub-studies.</p>
                    <p>It helps to track how the study develops and keeps all of the study information connected.</p>
                    <p>Anyone involved in the study can create a GRIS ID for example, a sponsor or a researcher.</p>
                    <p>It's the responsibility of the chief investigator to share the GRIS ID with all research study team members.</p>
                </div>
            </details>    

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}
