{% extends "layouts/main-new-header-v4.html" %}

{% block pageTitle %}
    Enter the email address of the sponsoring organisation's point of contact – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "who-is-the-sponsor"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
       
        <form action="who-is-the-sponsor-email" method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="event-name">
                        Enter the email address of the sponsoring organisation's point of contact
                    </label>
                </h1>
                <input class="govuk-input" id="sponsor-email" name="sponsor-email" type="email">
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
