{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
	Dashboard - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Dashboard</h1>

        <p>You're signed in as <strong>{{ data['email-login'] | default('name@email.com') }}</strong></p>
    </div>
</div>

<div class="govuk-grid-row govuk-card-equal-height">
	<div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-m"><a href="what-is-the-short-title" class="govuk-link--no-visited-state">Register a study</a></h2>
                <p>
					Register a study and get a government research identifier for your new study.
				</p>
            </div>
        </div>
    </div>

	<div class="govuk-grid-column-one-half">
        <div class="govuk-card govuk-card--contained">
            <div class="govuk-card__content">
                <h2 class="govuk-heading-m"><a href="my-studies" class="govuk-link--no-visited-state">My studies</a></h2>
                <p>
					View and update your study information.
				</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}
