


{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
  Which of the following government strategic priorities does your study align with? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
			text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

	{{ govukBackLink({
		text: "Back",
		href: "disease-area-speciality"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="government-strategic-priority" method="post">
            <span class="govuk-caption-l">Register a study</span>
            {{ govukCheckboxes({
                name: "priorities",
                fieldset: {
                    legend: {
                    text: "Which of the following government strategic priorities does your study align with?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "Select all that apply."
                },
                items: [
                    {
                        value: "prevention-early-detection",
                        text: "Prevention and early detection of disease"
                    },
                    {
                        value: "patient-safety-quality",
                        text: "Improving patient safety and quality of care"
                    },
                    {
                        value: "health-inequalities",
                        text: "Reducing health inequalities"
                    },
                    {
                        value: "mental-health",
                        text: "Mental health and wellbeing"
                    },
                    {
                        value: "healthy-ageing",
                        text: "Healthy ageing and multimorbidity"
                    },
                    {
                        value: "digital-health",
                        text: "Digital health and data-driven innovation"
                    },
                    {
                        value: "capacity-building",
                        text: "Translational & clinical research capacity building"
                    },
                    {
                        value: "sustainability-net-zero",
                        text: "Sustainability and net zero in health and care"
                    },
                    {
                        value: "social-care-integration",
                        text: "Social care and integration of services"
                    },
                    {
                        value: "public-health",
                        text: "Public and community health improvement"
                    },
                    {
                    divider: "or"
                    },
                    {
                    value: "none",
                    text: "None",
                    behaviour: "exclusive"
                    }
                ]
            }) }}
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>


{% endblock %}
