{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
    Confirmation of GRIS ID – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Application complete
            </h1>
            <div class="govuk-panel__body">
                Your GRIS ID is
                <br><br>
                GRIS-872 872 241
            </div>
        </div>

        <p>We've sent an email to you, the study team members, and the chief investigator containing your study's GRIS ID.</p>
        <p>Keep a copy of the GRIS ID for your records. This will help you track and manage your study throughout its lifecycle.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>You can <a href="dashboard" class="govuk-link govuk-link--no-visited-state">return to the dashboard</a> to view and mange your studies or <a href="what-is-the-short-title" class="govuk-link govuk-link--no-visited-state">register a new study</a>.</p>        
    </div>
</div>

{% endblock %}