{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
  Where is the study located? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
			text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

	{{ govukBackLink({
		text: "Back",
		href: "manage-my-study"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="manage-study-change-location" method="post">
            <span class="govuk-caption-l">Manage study</span>
            {{ govukRadios({
                name: "change-location",
                fieldset: {
                    legend: {
                    text: "Where is the study located?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "england",
                    text: "England"
                    },
                    {
                    value: "scotland",
                    text: "Scotland"
                    },
                    {
                    value: "wales",
                    text: "Wales"
                    },
                    {
                    value: "northern-ireland",
                    text: "Northern Ireland"
                    }
                ]
            }) }}
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
