{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
	Short title of study has been changed - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                The short title of the study has been changed
            </h1>
            <div class="govuk-panel__body">
                The new short title is {{ data['change-title'] | title | default('Investigating left arm disease in the UK') }}
            </div>
        </div>
                        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We have updated [study name] with the new short title.</p>
        <p>We've sent an email to the chief investigator, the study team members, and the organisation's point of contact to let them know that the short title has changed.</p>
        <p>To update more information in this study, <a href="manage-my-study" class="govuk-link--no-visited-state">return to manage this study</a>.</p>
        <p>To start a new search or create a new GRIS ID, <a href="dashboard" class="govuk-link--no-visited-state">return to the dashboard</a>.</p>

{% endblock %}
