{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
  What is the current status of this study? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
			text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

	{{ govukBackLink({
		text: "Back",
		href: "manage-my-study"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="manage-study-change-status" method="post">
            <span class="govuk-caption-l">Manage study</span>
            {{ govukRadios({
                name: "change-status",
                fieldset: {
                    legend: {
                    text: "What is the current status of this study?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "open-recruiting",
                    text: "Open to recruitment"
                    },
                    {
                    value: "close-recruiting",
                    text: "Closed to recruitment"
                    },
                    {
                    value: "completed",
                    text: "Completed"
                    },
                    {
                    value: "suspended",
                    text: "Suspended or on hold"
                    },
                    {
                    value: "not-started",
                    text: "Not started"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
