{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
   What is the email address of the sponsoring organisation's point of contact? - Manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}     
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }} 

    {{ govukBackLink({
        text: "Back",
        href: "manage-study-change-sponsor-type"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">  
        <form action="manage-study-change-sponsor-email" method="post">
            <div class="govuk-form-group">
                <span class="govuk-caption-l">Manage study</span>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="change-sponsor-email">
                        What is the email address of the sponsoring organisation's point of contact?
                    </label>
                </h1>
                <input class="govuk-input" id="change-sponsor-email" name="change-sponsor-email" type="email" spellcheck="false">
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
