{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
  Sign in to the government research identifier service - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: "Government research identifier service"
      }
    ]
  }) }}

{% endblock %}

{% block content %}
  	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Sign in to your GOV.UK One Login
			</h1>

			<p>Use this service to:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>create a unique government research identifier service ID (GRIS ID)</li>
				<li>view an existing study</li>
				<li>make changes to an existing study</li>
			</ul>

			<h2 class="govuk-heading-m">
				Before you start
			</h2>

			<p>You'll need a GOV.UK One Login to use this service.</p>
			<p>If you have not used GOV.UK One Login to access this service before, sign in using your existing sign in details. You'll then be asked to create or sign in to GOV.UK  One Login.</p>
			<p>In future, you should then always use your GOV.UK One Login to sign in to this service.</p>

			<h2 class="govuk-heading-m">What you'll need to register a new study</h2>

			<p>To create a GRIS ID for your new study, you'll need details, such as:</p>
			
			<ul class="govuk-list govuk-list--bullet">
				<li>the short title of the study</li>
				<li>the disease area or speciality</li>
				<li>if it has a government strategic priority</li>
				<li>study status, phase, setting, and location</li>
				<li>chief investigator's details</li>
				<li>team member details</li>
				<li>the sponsoring organisation's details</li>
			</ul>

			<p class="govuk-!-margin-bottom-7">It would be helpful to know the details of any related study, such as the GRIS ID, IRAS ID, and funding ID.</p>

			{{ govukButton({
				text: "Start now",
				href: "sign-in",
				isStartButton: true
			}) }}

		</div>

		<!-- <div class="govuk-grid-column-one-third">

			<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
				<h2 class="govuk-heading-m" id="subsection-title">
					Subsection
				</h2>
				<nav role="navigation" aria-labelledby="subsection-title">
					<ul class="govuk-list govuk-!-font-size-16">
					<li>
						<a href="#">
						Related link
						</a>
					</li>
					<li>
						<a href="#">
						Related link
						</a>
					</li>
					<li>
						<a href="#" class="govuk-!-font-weight-bold">
						More <span class="govuk-visually-hidden">in Subsection</span>
						</a>
					</li>
					</ul>
				</nav>
			</aside>

		</div> -->
	</div>
{% endblock %}
