{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
  What is the current phase of your study? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
			text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

	{{ govukBackLink({
		text: "Back",
		href: "study-status"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="study-phase" method="post">
            <span class="govuk-caption-l">Register a study</span>
            {{ govukRadios({
                name: "phase",
                fieldset: {
                    legend: {
                    text: "What is the current phase of your study?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "pre",
                    text: "Pre-clinical"
                    },
                    {
                    value: "one",
                    text: "Phase I"
                    },
                    {
                    value: "two",
                    text: "Phase II"
                    },
                    {
                    value: "three",
                    text: "Phase III"
                    },
                    {
                    value: "four",
                    text: "Phase IIII"
                    },
                    {
                    value: "na",
                    text: "Not applicable"
                    }
                ]
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>


{% endblock %}
