{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
  What is the short title of the new study? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
			text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

	{{ govukBackLink({
		text: "Back",
		href: "dashboard"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="what-is-the-short-title" method="post">
            <span class="govuk-caption-l">Register a study</span>
			{{ govukInput({
				label: {
					text: "What is the short title of the study?",
					classes: "govuk-label--l",
					isPageHeading: true
				},
				hint: {
					html: "You can change the title before submitting.<br><br>The title should be short but contain enough information so it's clear what the research is about."
				},
				id: "short-title",
				name: "short-title"
			}) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>


{% endblock %}
