{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
    Does this study have a GRIS ID? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="does-study-have-gris-id" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Register a study</span>
                        <h1 class="govuk-fieldset__heading">
                            Does this study already have a government research identifier service ID (GRIS ID)?
                        </h1>
                    </legend>     

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="has-study-id" name="has-study-id" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="has-study-id">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="has-study-id-2" name="has-study-id" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="has-study-id-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What is a GRIS ID? 
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p>A GRIS ID is a unique code for each new study, including sub-studies.</p>
                    <p>It helps to track how the study develops and keeps all of the study information connected.</p>
                    <p>Anyone involved in the study can create a GRIS ID for example, a sponsor or a researcher.</p>
                    <p>It's the responsibility of the chief investigator to share the GRIS ID with all research study team members.</p>
                </div>
            </details>    

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

 
    </div>
</div>


{% endblock %}
