{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
    Add a sponsor to [study name] - Manage a study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

    {{ govukBackLink({
        text: "Back",
        href: "manage-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage study</span>
        <h1 class="govuk-heading-l">Add a sponsor to [study name]</h1>
        <form action="manage-study-add-sponsor" method="post">
            <div class="govuk-form-group">
                <label class="govuk-label" for="add-sponsor-name">
                    What is the name of the organisation sponsoring the research?
                </label>
                <div id="sponsor-name-hint" class="govuk-hint">For example, Manchester University NHS Foundation Trust</div>
                <input class="govuk-input" id="add-sponsor-name" name="add-sponsor-name" type="text">
            </div>

            {{ govukRadios({
                name: "add-sponsor-type",
                fieldset: {
                    legend: {
                    text: "What type of organisation is acting as the study sponsor?",
                    classes: ""
                    }
                },
                items: [
                    {
                    value: "nhs",
                    text: "NHS organisation"
                    },
                    {
                    value: "education",
                    text: "Higher education institution"
                    },
                    {
                    value: "commercial",
                    text: "Commercial company"
                    },
                    {
                    value: "gov",
                    text: "Government or public sector body (non-NHS)"
                    },
                    {
                    value: "charity",
                    text: "Charity or not-for-profit organisation"
                    },
                    {
                    value: "other",
                    text: "Other"
                    }
                ]
            }) }}   

            <div class="govuk-form-group">
                <label class="govuk-label" for="add-sponsor-email">
                    Enter the email address of the sponsoring organisation's point of contact
                </label>
                <input class="govuk-input" id="add-sponsor-email" name="add-sponsor-email" type="email">
            </div>   
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
