{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
  Where is the study located? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukBackLink({
		text: "Back",
		href: "manage-study"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="manage-study-change-location" method="post">
            <span class="govuk-caption-l">Manage study</span>
            {{ govukRadios({
                name: "change-location",
                fieldset: {
                    legend: {
                    text: "Where is the study located?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "england",
                    text: "England"
                    },
                    {
                    value: "scotland",
                    text: "Scotland"
                    },
                    {
                    value: "wales",
                    text: "Wales"
                    },
                    {
                    value: "northern-ireland",
                    text: "Northern Ireland"
                    }
                ]
            }) }}
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
