{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
    You have added a sponsoring organisation to [study name] - manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                You have added a sponsoring organisation
            </h1>
            <div class="govuk-panel__body">
                {{ data['add-sponsor-name'] | title | default('Manchester University NHS Foundation Trust') }}<br>
                {{ data['add-sponsor-email'] | default('sponsor-email@email.com') }}
            </div>
        </div>
        
        <p>We have updated [study name] with the new sponsoring organisation's details.</p>
        
        <h2 class="govuk-heading-m">What happens next</h2>
                      
        <p>We've sent an email to the chief investigator, the study team members, and the organisation's point of contact to let them know that a sponsor has been added to the study.</p>
        <p>To update more information in this study, <a href="manage-study" class="govuk-link--no-visited-state">return to manage this study</a>.</p>
        <p>To start a new search or create a new GRIS ID, <a href="dashboard" class="govuk-link--no-visited-state">return to the dashboard</a>.</p>
    </div>
</div>

{% endblock %}
