{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
    You have changed the disease area or speciality for this study - Manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}  

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                You have changed the disease area or speciality to
            </h1>
            <div class="govuk-panel__body">
                {{ data['change-speciality'] | title | default('Genetics', true) }}
            </div>
        </div>

        <p>We've updated [study name] with the new disease are or speciality.</p>
                        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We've sent an email to the chief investigator and the study team members to let them know that the disease area or speciality has been changed.</p>
        <p>To update more information in this study, <a href="manage-study" class="govuk-link--no-visited-state">return to manage this study</a>.</p>
        <!-- <p>To start a new search or create a new GRIS ID, <a href="dashboard" class="govuk-link--no-visited-state">return to the dashboard</a>.</p> -->
    </div>
</div>

{% endblock %}
