{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
   Add a sponsoring organisation - Register a study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
    {{ govukBackLink({
        text: "Back",
        href: "register-study-add-members"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Register a study</span>
        <h1 class="govuk-heading-l">
            Add sponsoring organisation details
        </h1>

        <form action="register-study-sponsors" method="post">
            <div class="govuk-form-group">
                <label class="govuk-label" for="sponsor-name">
                    What is the name of the organisation sponsoring this research?
                </label>

                <div id="sponsor-name-hint" class="govuk-hint">For example, Manchester University NHS Foundation Trust</div>
                <input class="govuk-input" id="sponsor-name" name="sponsor-name" type="text">
            </div>

            {{ govukRadios({
                name: "sponsor-type",
                fieldset: {
                    legend: {
                    text: "What type of organisation is acting as the study sponsor?",
                    classes: ""
                    }
                },
                items: [
                    {
                    value: "nhs",
                    text: "NHS organisation"
                    },
                    {
                    value: "education",
                    text: "Higher education institution"
                    },
                    {
                    value: "commercial",
                    text: "Commercial company"
                    },
                    {
                    value: "gov",
                    text: "Government or public sector body (non-NHS)"
                    },
                    {
                    value: "charity",
                    text: "Charity or not-for-profit organisation"
                    },
                    {
                    value: "other",
                    text: "Other"
                    }
                ]
            }) }}    

            {{ govukInput({
                label: {
                    text: "Enter the email address of the sponsoring organisation's point of contact",
                    classes: ""
                },
                id: "sponsor-email",
                name: "sponsor-email",
                type: "email",
                autocomplete: "email"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}