{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
    Check your answers - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">    
        <span class="govuk-caption-l">Register a study</span>   
        <h1 class="govuk-heading-l">Check your answers before you submit the new study details</h1>

        <p>If there is a mistake, you can edit responses by selecting 'Change'. </p>
        <p>You'll also have the option to change the responses after the submission through the 'manage studies' section of the dashboard.</p>

        <!-- Study details -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    New study details
                </h2>
            </div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Short title of study
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Investigating left arm disease
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> short study title</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Disease area or speciality
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Genetics</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> disease area</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Government strategic priorities
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Healthy ageing and multimorbidity</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> government strategic priority</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Current status of study
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Open to recruitment</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> status</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Current phase of study
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Phase I</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> phase</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Study setting
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Primary care</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> setting</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Study location
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">England</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> location</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Chief investigator
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Peter Jones</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> Chief Investigator ORCID ID</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Chief investigator's email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            jane.doe@email.com
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> Chief investigator email</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Chief investigator ORCID iD
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">0009-0000-6037-7481</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study">Change<span class="govuk-visually-hidden"> Chief Investigator ORCID ID</span></a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <!-- Team member details -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Study team members
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state" href="register-study-add-member-details">Add a study member</a>
                    </li>
                  </ul>
            </div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Joe Bloggs
                            <p class="govuk-hint govuk-!-margin-bottom-0">(Editor permissions)</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            joe.bloggs@email.com
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <ul class="govuk-summary-list__actions-list">
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link govuk-link--no-visited-state" href="register-study-add-member-details">Change<span class="govuk-visually-hidden"> Joe Bloggs</span></a>
                                </li>
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link govuk-link--no-visited-state" href="#">Delete<span class="govuk-visually-hidden"> Joe Bloggs</span></a>
                                </li>
                            </ul>    
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <!-- Sponsor details -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                   Sponsor details
                </h2>
                <ul class="govuk-summary-card__actions">
                    <li class="govuk-summary-card__action">
                        <a class="govuk-link govuk-link--no-visited-state" href="register-study-sponsors">Add a sponsor</a>
                    </li>
                  </ul>
            </div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Manchester University NHS Foundation Trust
                            <p class="govuk-hint govuk-!-margin-bottom-0">Higher education institution</p>
                        </dt>
                        <dd class="govuk-summary-list__value">
                            sponsor-contact@email.com
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <ul class="govuk-summary-list__actions-list">
                                <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link govuk-link--no-visited-state" href="register-study-sponsors">Change <span class="govuk-visually-hidden">sponsor name</span></a>
                                </li>
                                <!-- <li class="govuk-summary-list__actions-list-item">
                                    <a class="govuk-link govuk-link--no-visited-state" href="delete-sponsor">Delete <span class="govuk-visually-hidden">sponsor</span></a>
                                </li> -->
                            </ul>   
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <!-- Related study details -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                   Related study details
                </h2>
            </div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Short study title
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Investigating Right Arm Disease
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            GRIS ID of related study
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">GRIS-342 524 247</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study-related-information">Change <span class="govuk-visually-hidden">GRIS ID of related study</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Relationship between the new study and the related study
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Continuation study</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study-related-information">Change <span class="govuk-visually-hidden">relationship</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                           Does the related study have the same IRAS ID as the new study?
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">Yes</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study-related-information">Change <span class="govuk-visually-hidden">relationship</span></a>
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Funding ID of related study
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">FUNDING ID 12344, REALMS</p>
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link govuk-link--no-visited-state" href="register-study-related-information">Change <span class="govuk-visually-hidden">funding</span></a>
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        
        <a href="gris-confirmed" class="govuk-button" data-module="govuk-button" role="button" draggable="false">
            Submit
        </a>
    </div>
</div>

{% endblock %}