{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
   New study information - Register a study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Register a study</span>
        <h1 class="govuk-heading-l">
            New study information
        </h1>

		<form action="register-study" method="post">
            <!-- Short title of study -->
            {{ govukInput({
				label: {
					text: "What is the short title of the study?",
					classes: ""
				},
				id: "short-title",
				name: "short-title"
			}) }}

            <!-- Disease area or speciality -->
            {{ govukRadios({
                name: "speciality",
                fieldset: {
                    legend: {
                    text: "What is the disease area or speciality for this study?",
                    classes: ""
                    }
                },
                items: [
                    {
                        "value": "ageing",
                        "text": "Ageing"
                    },
                    {
                        "value": "anaesthesia-perioperative-medicine-pain-management",
                        "text": "Anaesthesia, Perioperative Medicine and Pain Management"
                    },
                    {
                        "value": "cancer",
                        "text": "Cancer"
                    },
                    {
                        "value": "cardiovascular-disease-cardiac-surgery",
                        "text": "Cardiovascular Disease/Cardiac Surgery"
                    },
                    {
                        "value": "children",
                        "text": "Children"
                    },
                    {
                        "value": "critical-care",
                        "text": "Critical Care"
                    },
                    {
                        "value": "dementias-neurodegeneration",
                        "text": "Dementias & Neurodegeneration"
                    },
                    {
                        "value": "dermatology",
                        "text": "Dermatology"
                    },
                    {
                        "value": "diabetes",
                        "text": "Diabetes"
                    },
                    {
                        "value": "ear-nose-throat",
                        "text": "Ear, Nose and Throat"
                    },
                    {
                        "value": "gastroenterology",
                        "text": "Gastroenterology"
                    },
                    {
                        "value": "genetics",
                        "text": "Genetics"
                    },
                    {
                        "value": "haematology-non-cancer",
                        "text": "Haematology (Non-cancer)"
                    },
                    {
                        "value": "health-services-research",
                        "text": "Health Services Research"
                    },
                    {
                        "value": "hepatology",
                        "text": "Hepatology"
                    },
                    {
                        "value": "infection",
                        "text": "Infection"
                    },
                    {
                        "value": "mental-health",
                        "text": "Mental Health"
                    },
                    {
                        "value": "metabolic-endocrine-disorders",
                        "text": "Metabolic and Endocrine Disorders"
                    },
                    {
                        "value": "musculoskeletal-disorders-elective-orthopaedic",
                        "text": "Musculoskeletal Disorders/Elective Orthopaedic"
                    },
                    {
                        "value": "neurological-disorders",
                        "text": "Neurological Disorders"
                    },
                    {
                        "value": "obstetrics-gynaecology",
                        "text": "Obstetrics and Gynaecology"
                    },
                    {
                        "value": "oral-dental-health",
                        "text": "Oral and Dental Health"
                    },
                    {
                        "value": "palliative-care",
                        "text": "Palliative Care"
                    },
                    {
                        "value": "primary-care",
                        "text": "Primary Care"
                    },
                    {
                        "value": "public-health",
                        "text": "Public Health"
                    },
                    {
                        "value": "rare-diseases",
                        "text": "Rare Diseases"
                    },
                    {
                        "value": "renal",
                        "text": "Renal"
                    },
                    {
                        "value": "reproductive-health-childbirth",
                        "text": "Reproductive Health and Childbirth"
                    },
                    {
                        "value": "residential",
                        "text": "Residential"
                    }
                ]
            }) }}

            <!-- Government strategic priorities -->
            {{ govukCheckboxes({
                name: "priorities",
                fieldset: {
                    legend: {
                    text: "Which of the following government strategic priorities does your study align with?",
                    classes: ""
                    }
                },
                hint: {
                    text: "Select all that apply."
                },
                items: [
                    {
                        value: "prevention-early-detection",
                        text: "Prevention and early detection of disease"
                    },
                    {
                        value: "patient-safety-quality",
                        text: "Improving patient safety and quality of care"
                    },
                    {
                        value: "health-inequalities",
                        text: "Reducing health inequalities"
                    },
                    {
                        value: "mental-health",
                        text: "Mental health and wellbeing"
                    },
                    {
                        value: "healthy-ageing",
                        text: "Healthy ageing and multimorbidity"
                    },
                    {
                        value: "digital-health",
                        text: "Digital health and data-driven innovation"
                    },
                    {
                        value: "capacity-building",
                        text: "Translational & clinical research capacity building"
                    },
                    {
                        value: "sustainability-net-zero",
                        text: "Sustainability and net zero in health and care"
                    },
                    {
                        value: "social-care-integration",
                        text: "Social care and integration of services"
                    },
                    {
                        value: "public-health",
                        text: "Public and community health improvement"
                    },
                    {
                    divider: "or"
                    },
                    {
                    value: "none",
                    text: "None",
                    behaviour: "exclusive"
                    }
                ]
            }) }}

            <!-- Study status-->
            {{ govukRadios({
                name: "status",
                fieldset: {
                    legend: {
                    text: "What is the current status of this study?",
                    classes: ""
                    }
                },
                items: [
                    {
                    value: "open-to-recruitment",
                    text: "Open to recruitment"
                    },
                    {
                    value: "closed-to-recruitment",
                    text: "Closed to recruitment"
                    },
                    {
                    value: "completed",
                    text: "Completed"
                    },
                    {
                    value: "suspended-or-on-hold",
                    text: "Suspended or on hold"
                    },
                    {
                    value: "not-started",
                    text: "Not started"
                    }
                ]
            }) }}

            <!-- Study phase -->
            {{ govukRadios({   
                name: "phase",
                fieldset: {
                    legend: {
                    text: "What is the current phase of this study?",
                    classes: ""
                    }
                },
                items: [
                    {
                    value: "pre-clinical",
                    text: "Pre-clinical"
                    },
                    {
                    value: "one",
                    text: "Phase I"
                    },
                    {
                    value: "two",
                    text: "Phase II"
                    },
                    {
                    value: "three",
                    text: "Phase III"
                    },
                    {
                    value: "Phase-IV",
                    text: "Phase IV"
                    },
                    {
                    value: "na",
                    text: "Not applicable"
                    }
                ]
            }) }}

            <!-- Study setting -->
            {{ govukCheckboxes({
                name: "setting",
                fieldset: {
                    legend: {
                    text: "What is the study setting?",
                    classes: ""
                    }
                },
                hint: {
                    html: "<p>Indicate the type of environment in which the study will take place.</p><p>Select all that apply.</p>"
                },
                items: [
                    {
                    value: "primary-care",
                    text: "Primary care",
                    hint: {
                        text: "This could be at a GP practice or community pharmacy"
                    }
                    },
                    {
                    value: "secondary-care",
                    text: "Secondary care",
                    hint: {
                        text: "This could be at a hospital, in an outpatient or an inpatient service"
                    }
                    },
                    {
                    value: "tertiary-care",
                    text: "Tertiary care",
                    hint: {
                        text: "This could be at a specialist or teaching hospital"
                    }
                    },
                    {
                    value: "community",
                    text: "Community setting",
                    hint: {
                        text: "This could be at a school, workplace, or a local community centre"
                    }
                    },
                    {
                    value: "social",
                    text: "Social care setting",
                    hint: {
                        text: "This could be at a care home, in a supported living setting, or in domiciliary care"
                    }
                    },
                    {
                    value: "virtual",
                    text: "Online or virtual setting",
                    hint: {
                        text: "This could be using remote data collection or an online survey"
                    }
                    }             
                ]
            }) }}

            <!-- Study location -->
            {{ govukRadios({   
                name: "location",
                fieldset: {
                    legend: {
                    text: "Where is the study located?",
                    classes: ""
                    }
                },
                items: [
                    {
                    value: "england",
                    text: "England"
                    },
                    {
                    value: "scotland",
                    text: "Scotland"
                    },
                    {
                    value: "wales",
                    text: "Wales"
                    },
                    {
                    value: "northern-ireland",
                    text: "Northern Ireland"
                    }
                ]
            }) }}

            <!-- Name of chief investigator or key lead -->
            {{ govukInput({
				label: {
					text: " What is the chief investigator or key lead's full name?",
					classes: ""
				},
				id: "ci-name",
				name: "ci-name"
			}) }}

            <!-- Email address for chief investigator or key lead -->
            {{ govukInput({
				label: {
					text: "What is the chief investigator or key lead's email address?",
					classes: ""
				},
				id: "ci-email",
				name: "ci-email"
			}) }}

            <!-- OCID ID of chief investigtor or key lead -->
            <div class="govuk-form-group">                
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" role="group" aria-describedby="orcid-id-hint">
                        <legend class="govuk-fieldset__legend">
                            What is the ORCID iD of the chief investigator or the key lead?
                        </legend>
                        
                        <div id="orcid-id-hint" class="govuk-hint">
                            For example, 0000-0003-3185-9638
                        </div>
                        
                        <div class="govuk-date-input" id="orcid-id">
                            <div class="govuk-date-input__item govuk-!-margin-right-0">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-visually-hidden" for="orcid-id-one">
                                        ORCID ID part one
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="orcid-id-one" name="orcid-id-one" type="text" inputmode="numeric">
                                </div>
                            </div>

                            <p class="govuk-!-display-inline govuk-!-margin-right-1 govuk-!-margin-left-1" >-</p>

                            <div class="govuk-date-input__item govuk-!-margin-right-0">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-visually-hidden" for="orcid-id-two">
                                        ORCID ID part two
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="orcid-id-two" name="orcid-id-two" type="text" inputmode="numeric">
                                </div>
                            </div>

                            <p class="govuk-!-display-inline govuk-!-margin-right-1 govuk-!-margin-left-1" >-</p>
                            
                            <div class="govuk-date-input__item govuk-!-margin-right-0">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-visually-hidden" for="orcid-id-three">
                                        ORCID ID part three
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="orcid-id-three" name="orcid-id-three" type="text" inputmode="numeric">
                                </div>
                            </div>

                            <p class="govuk-!-display-inline govuk-!-margin-right-1 govuk-!-margin-left-1" >-</p>

                            <div class="govuk-date-input__item govuk-!-margin-right-0">
                                <div class="govuk-form-group">
                                    <label class="govuk-label govuk-visually-hidden" for="orcid-id-four">
                                        ORCID ID part four
                                    </label>
                                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="orcid-id-four" name="orcid-id-four" type="text" inputmode="numeric">
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Where can I find an ORCID iD?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    To find an ORCID iD, you can <a href="#" target="_blank">search the ORCID registry (opens in new tab)</a>.
                </div>
            </details>    

            {{ govukButton({
                text: "Continue"
            }) }}
        </form> 
    </div>
</div>
{% endblock %}
