{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	You have changed the study team member's details - manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                You have changed the study team member's details
            </h1>
            <div class="govuk-panel__body">
                {{ data['change-full-name'] | title | default('James Bond') }}<br>
                {{ data['change-email-address'] | default('james.bond@email.com') }}
            </div>
        </div>
                        
        <p>We've updated [study name] with the updated name and email address.</p>
        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We've sent an email to the study team members to let them know that the team member's details have been changed.</p>
        <p>To update more information in this study, <a href="view-study" class="govuk-link--no-visited-state">return to manage this study</a>.</p>
        <p>To start a new search or create a new [service name] ID, <a href="dashboard" class="govuk-link--no-visited-state">return to the dashboard</a>.</p>
    </div>
</div>
{% endblock %}
