{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Change a study member's details - manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

    {{ govukBackLink({
        text: "Back",
        href: "view-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if errorSummary %}
            {{ govukErrorSummary({  
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Enter a full name",
                        href: "#change-full-name"
                    },  
                    {
                        text: "Enter an email address",
                        href: "#change-email-address"
                    }
                ]
            }) }}
        {% endif %}  

        <span class="govuk-caption-l">Manage study</span>
        <h1 class="govuk-heading-l">Change a study member's details</h1>
        
        <form action="manage-study-change-member" method="post">
            {% if errorSummary %}
				{% set errorMessageOne = { text: "Enter a full name" } %}
                {% set errorMessageTwo = { text: "Enter an email address" } %}
			{% else %}
				{% set errorMessageOne = null %}
                {% set errorMessageTwo = null %}
			{% endif %}

            <div class="govuk-form-group">
                {{ govukInput({
                    label: {
                        text: "Full name"
                    },
                    id: "change-full-name",
                    name: "change-full-name",
                    errorMessage: errorMessageOne
                }) }}
            </div>

            <div class="govuk-form-group">
                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "change-email-address",
                    name: "change-email-address",
                    type: "email",
                    errorMessage: errorMessageTwo
                }) }}
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
