{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
    What is the email address of the study team member you want to add? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "add-study-member-name"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if errorSummary %}
            {{ govukErrorSummary({  
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Enter the email address of the study team member you want to add",
                        href: "#email-address"
                    }
                ]
            }) }}
        {% endif %}    

        <span class="govuk-caption-l">Register a study</span>
        <h1 class="govuk-heading-l">What is the email address of the study team member you want to add?</h1>
        
        <form action="add-study-member-email" method="post">
            {% if errorSummary %}
                {% set errorMessage = { text: "Enter the email address of the study team member you want to add" } %}
            {% else %}
                {% set errorMessage = null %}
            {% endif %}

            {{ govukInput({
                label: {
                    text: "Email address"
                },
                id: "email-address",
                name: "add-member-email",
                type: "email",
                errorMessage: errorMessage
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>


{% endblock %}
