{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
    You have added a new study team member - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if errorSummary %}
            {{ govukErrorSummary({  
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Select if you want to add additional team members",
                        href: "#add-members-yes"
                    }
                ]
            }) }}
        {% endif %}  

        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                You have added a new study team member
            </h1>
            <div class="govuk-panel__body">
                {{ data['add-full-name'] | title | default('James Bond', true) }}<br>
                <strong>{{ data['add-member-email'] | default('james.bond@email.com', true) }}</strong>
            </div>
        </div>

        <p>We've sent you and the study team member an email confirming they have been added to the study.</p>
       
        {{ govukTable({
            caption: "Study members you have already added:",
            captionClasses: "govuk-!-margin-bottom-4",
            firstCellIsHeader: false,
            head: [
                {
                    text: "Name"
                },
                {
                    text: "Email address"
                }
            ],
            rows: [
                [
                    {
                        html: data['add-full-name'] | title | default('James Bond', true)
                    },
                    {
                        html: data['add-member-email'] | default('james.bond@email.com', true)
                    }
                ]
            ]
        }) }}

        <form action="add-study-member-completed" method="post">
            {% if errorSummary %}
                {% set errorMessage = { text: "Select if you want to add additional team members" } %}
            {% else %}
                {% set errorMessage = null %}
            {% endif %}

            {{ govukRadios({
                name: "add-more-members",
                fieldset: {
                    legend: {
                    text: "Do you need to add any additional team members?",
                    classes: "govuk-fieldset__legend--m"
                    }
                },
                items: [                
                    {
                        value: "yes",
                        text: "Yes",
                        id: "add-members-yes"
                    },
                    {
                        value: "no",
                        text: "No",
                        id: "add-members-no"
                    }
                ],
                errorMessage: errorMessage
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>                       
    </div>
</div>

{% endblock %}
