{% extends "layouts/online-login-header.html" %}


{% block pageTitle %}
	Check your email - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "enter-your-password"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Check your email</h1>

        <p>We need to make sure this is your Get a research ID account email address before you can reset your password.</p>
        
        {% set email = data['email-login'] | default('name@email.com', true) %}

        {{ govukInsetText({
            html: "We have sent an email to: <strong>" + email + "</strong>"
        }) }}

        <p>The email contains a 6 digit security code.</p>
        <p>Your email might take a few minutes to arrive. If you do not get an email, check your spam folder.</p>
        <p>The code will expire after 15 minutes.</p>

        <form action="forgot-my-password" method="post">
            {{ govukInput({
                label: {
                    text: "Enter the 6 digit security code",
                    classes: "govuk-label"
                },
                    classes: "govuk-input--width-10",
                    id: "forgot-password",
                    name: "forgot-password"
            }) }}


            {{ govukButton({
                text: "Continue"
            }) }}
		</form>

        {{ govukDetails({
            summaryText: "Problems with the code?",
            html: '<p>We can <a href="#" class="govuk-link--no-visited-state">send the code again</a> if the code is not working or you did not receive it.</p>'
        }) }}
    </div>
</div>

{% endblock %}
