{% extends "layouts/online-login-header.html" %}


{% block pageTitle %}
	Your password has been reset - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                Your password has been reset
            </h1>
        </div>

        <p>We've sent an email to you confirming that your password has been reset.</p>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p>You can <a href="sign-in" class="govuk-link govuk-link--no-visited-state">continue to sign in</a> to view your studies or register a new study.</p>        
    </div>
</div>

{% endblock %}
