{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Enter your email address - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "start"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="sign-in" method="post">
			{{ govukInput({
				label: {
					text: "Enter your email address",
					classes: "govuk-label--l",
					isPageHeading: true
				},
					id: "email-login",
					name: "email-login",
					type: "email"
			}) }}

            {{ govukButton({
                text: "Continue"
            }) }}
		</form>
    </div>
</div>

{% endblock %}
