{% extends "layouts/online-login-header.html" %}


{% block pageTitle %}
	You have signed out - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            You have signed out
        </h1>

        <p class="govuk-body">
            You have successfully signed out of your account.
        </p>

        <p><a href="start" class="govuk-link--no-visited-state">Return to the home page</a>.</p>
    </div>
</div>

{% endblock %}
