//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Custom card component

code {
    color: $govuk-text-colour;
    background-color: govuk-colour("light-grey");

    text-shadow: 0 1px govuk-colour("white");
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;

    border: 1px solid $govuk-border-colour;
    padding: 4px 4px 2px;
}


.wrapper--grey {
    background-color: govuk-colour("light-grey");
}

$govuk-card-border : govuk-colour("blue");
$govuk-card-selected-background-colour : govuk-colour("blue");
$govuk-card-selected-foreground-colour : govuk-colour("white");

.govuk-card {
    @include govuk-responsive-margin(6, "bottom");
    @include govuk-responsive-padding(6, "bottom");
    border-bottom: 3px solid $govuk-card-border;
    box-sizing: border-box;
}

.govuk-card--contained {
    background-color: govuk-colour("light-grey");
}

.govuk-card--contained--on-background {
    background-color: govuk-colour("white");
}

.govuk-card--borderless {
    border: 0;
    padding-bottom: 0;
}

.govuk-card--selectable {
    position: relative;
}

.govuk-card--selectable h3 {
    color: govuk-colour("blue");
}

.govuk-card--selectable a {
    position: relative;
    z-index: 1;
}

.govuk-card--selectable:hover {
    background-color: $govuk-card-selected-background-colour;
}

.govuk-card--selectable:hover > .govuk-card__content > h3,
.govuk-card--selectable:hover > .govuk-card__content > p,
.govuk-card--selectable:hover > .govuk-card__content > h3 > a,
.govuk-card--selectable:hover > .govuk-card__actions > ul > li > a {
    color: $govuk-card-selected-foreground-colour !important;
}

.govuk-card--selectable:hover > .govuk-card__content > h3 > a:hover,
.govuk-card--selectable:hover > .govuk-card__actions > ul > li > a:hover {
    color: lighten(govuk-colour("light-blue"), 30%) !important;
}

.govuk-card--selectable > a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.govuk-card--selectable > a:focus {
    background-color: initial !important;
}

.govuk-card__hero {
    line-height: 0;
}

.govuk-card__hero img {
    max-width: 100%;
}

.govuk-card__content {
    @include govuk-responsive-padding(4, "top");
    padding-bottom: 0;
}

.govuk-card__content p {
    margin-bottom: 0;
}

.govuk-card__content p + p {
    @include govuk-responsive-margin(4, "top");
}

.govuk-card--contained .govuk-card__content {
    @include govuk-responsive-padding(4, "left");
    @include govuk-responsive-padding(4, "right");
}

.govuk-card__actions {
    @include govuk-responsive-padding(4, "top");
    padding-bottom: 0;
}

.govuk-card--contained .govuk-card__actions {
    @include govuk-responsive-padding(4, "left");
    @include govuk-responsive-padding(4, "right");
}

.govuk-card__actions > .govuk-button {
    margin-bottom: 0;
}
  
@include govuk-media-query($from: tablet) {
    .govuk-card-equal-height {
        display: flex;
        align-items: stretch;
    }

    .govuk-card-equal-height > .govuk-grid-column-one-half,
    .govuk-card-equal-height > .govuk-grid-column-one-third {
        display: flex;
        flex-direction: column;
    }
}
  
.govuk-card-equal-height .govuk-card {
    flex: 1;
}

// Full width layout

.govuk-full-width,
.govuk-full-width-body {
    width: 100% !important;
    max-width: calc(100% - 120px) !important;
    margin-left: 60px;
    margin-right: 60px;
}

.govuk-panel-blue {
    background-color: #1d70b8;
}

// Search box component

.govuk-search-panel {
    text-align: left;
    color: #0b0c0c;
    background-color: #f3f2f1;
}

// Copy button

.app-copy-button {
    font-family: "GDS Transport", arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    min-width: 80px;
    padding: 3px 10px;
    border: 1px solid #00823b;
    color: #00823b;
    background-color: #fff;
    box-shadow: 0 2px 0 0 #00703c;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 10px;
}

.app-copy-button:active {
    box-shadow: none;
}

.app-copy-button:active, 
.app-copy-button:focus {
    padding: 2px 10px;
    border: 2px solid #fd0;
    outline: 2px solid rgba(0, 0, 0, 0);
    box-shadow: none;
}