{% extends "layouts/offline.html" %}

{% block pageTitle %}
    What permissions do you want to give this team member? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
    {{ govukBackLink({
        text: "Back",
        href: "add-study-member-email"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="add-study-member-permissions" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What permissions do you want to give this team member?
                        </h1>
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="permissions" name="add-member-permissions" type="radio" value="read only" aria-describedby="permissions-item-hint">
                            <label class="govuk-label govuk-radios__label" for="permissions">
                                Read only
                            </label>
                            <div id="permissions-item-hint" class="govuk-hint govuk-radios__hint">
                                This option lets the team member view all study information. They will not be able to change the study information or add new members.
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="permissions-2" name="add-member-permissions" type="radio" value="editor" aria-describedby="permissions-2-item-hint">
                            <label class="govuk-label govuk-radios__label" for="permissions-2">
                                Editor
                            </label>
                            <div id="permissions-2-item-hint" class="govuk-hint govuk-radios__hint">
                                This option lets the team member update study information and add or remove other members.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
