{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
    Do you know the GRIS ID of the related study? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
    {{ govukBackLink({
        text: "Back",
        href: "related-to-other-studies"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       

        <form action="do-you-know-gris-id" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="gris-id-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you know the government research identifier service ID (GRIS ID) of the related study?
                        </h1>
                    </legend>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id-yes" name="study-gris-id" type="radio" value="yes" data-aria-controls="conditional-yes">
                            <label class="govuk-label govuk-radios__label" for="id-yes">
                                Yes
                            </label>
                        </div>

                        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-yes">
                            <div class="govuk-form-group">
                                <label class="govuk-label" for="id-of-study">
                                    GRIS ID of the related study
                                </label>
                                <input class="govuk-input govuk-!-width-two-thirds" id="id-of-study" name="related-id" type="text">
                            </div>
                        </div>
   
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id-no" name="study-gris-id" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="id-no">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How do I find the GRIS ID of the related study?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    The GRIS ID should be held by the chief investigator of the related study. If you cannot contact them, email the NIHR Study Support Service Helpdesk at <a href="mailto:supportmystudy@nihr.ac.uk">supportmystudy@nihr.ac.uk</a>.
                </div>
            </details>
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}