{% extends "layouts/offline.html" %}

{% block pageTitle %}
    You have added a sponsoring organisation to [study name] - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                You have added a sponsoring organisation
            </h1>
            <div class="govuk-panel__body">
                {{ data['add-sponsor-name'] | title | default('Manchester University NHS Foundation Trust') }}<br>
                {{ data['add-sponsor-email'] | default('sponsor-email@email.com') }}
            </div>
        </div>
        
        <p>We have updated [study name] with the new sponsoring organisation's details.</p>
        <p>We've sent an email to all study members and the organisation's point of contact, confirming that a new sponsor has been added to the study.</p>
                        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>You can return to <a href="manage-study">manage this study</a> or return the <a href="dashboard">dashboard</a>.</p>
    </div>

</div>

{% endblock %}
