{% extends "layouts/offline.html" %}

{% block pageTitle %}
    What is the relationship between the new study and the related study? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
    {{ govukBackLink({
        text: "Back",
        href: "do-you-know-gris-id"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       

        <form action="relationship-between-studies" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="study-relationship-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <span class="govuk-caption-l">Register a study</span>
                        <h1 class="govuk-fieldset__heading">
                            What is the relationship between the new study and the related study? 
                        </h1>
                    </legend>
                    
                    <p class="govuk-hint" id="study-relationship-hint">
                        Select one option
                    </p>
         
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-parent" name="study-relationship" type="radio" value="parent">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-parent">
                                It's a parent study of another study
                            </label>
                            <div id="parent-study-hint" class="govuk-hint govuk-radios__hint">
                                This is a standalone study that may have related studies connected to it.
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-sub" name="study-relationship" type="radio" value="sub">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-sub">
                                It's a sub-study
                            </label>
                            <div id="sub-study-hint" class="govuk-hint govuk-radios__hint">
                                This is a smaller research project exploring specific parts of the parent study
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-platform" name="study-relationship" type="radio" value="platform">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-platform">
                                It's a platform study
                            </label>
                            <div id="parent-study-hint" class="govuk-hint govuk-radios__hint">
                                This is a study with a master protocol which can be updated and expanded using smaller addenda or sub-protocols
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-cont" name="study-relationship" type="radio" value="cont">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-cont">
                                It's a continuation study
                            </label>
                            <div id="parent-study-hint" class="govuk-hint govuk-radios__hint">
                                This is an extension of an earlier study. This may have a different Integrated Research Application System ID (IRAS ID) from the parent study.
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How do I find out what the relationship is between the new study and the related study?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    To determine if a research study is related to another study, you can use the <a href="https://www.nihr.ac.uk/support-and-services/support-for-delivering-research/clinical-research-network/study-support-service">NIHR Open Data Platform (ODP)</a>. This platform provides access to details of all NIHR-supported studies, including recruitment data, allowing you to identify related studies. 
                </div>
            </details>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}
