{% extends "layouts/offline.html" %}

{% block pageTitle %}
	Search for a study using study name - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	<!-- {{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }} -->
	{{ govukBackLink({
        text: "Back",
        href: "search-for-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if errorSummary %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errorSummary
            }) }}
        {% endif %}    
		
		<form action="search-for-study-name" method="post">                     
			<div class="govuk-form-group {% if errorSummary %}govuk-form-group--error{% endif %}">
				<h1 class="govuk-label-wrapper">
					<label class="govuk-label govuk-label--l" for="search-study-name">
						What is the short title of the study you want to search for?
					</label>
				</h1>

				{% if errorSummary %}
					<p id="search-study-name-error" class="govuk-error-message">
					    <span class="govuk-visually-hidden">Error:</span> {{ errorSummary[0].text }}
					</p>
				{% endif %}

				<input class="govuk-input {% if errorSummary %}govuk-input--error{% endif %}" id="search-study-name" name="search-study-name" type="text" aria-describedby="{% if errorSummary %}search-study-name-error{% endif %}">
			</div>
				
			{{ govukButton({
				text: "Continue"
			}) }}
		</form>        
    </div>
</div>

{% endblock %}
