{% extends "layouts/offline.html" %}

{% block pageTitle %}
    We have found a matching study record – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">
            We have found a matching study record
        </h1>

        <p class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            We have found a study that's similar to your new study.
        </p>

        <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Matching summary details</caption>
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third"></th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Your study</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Matching study</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Short study title</th>
                    <td class="govuk-table__cell">Investigating Left Arm Disease</td>
                    <td class="govuk-table__cell">Investigating Left Arm Disease - Phase 2</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Chief investigator or key lead ORCID iD</th>
                    <td class="govuk-table__cell">0009-0000-6037-7481<br>Peter Jones</td>
                    <td class="govuk-table__cell">0009-0000-6037-7481<br>Peter Jones</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Study team members</th>
                    <td class="govuk-table__cell">joe.bloggs@research.ac.uk</td>
                    <td class="govuk-table__cell">joe.bloggs@research.ac.uk</td>
                </tr>

                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header">Sponsor</th>
                    <td class="govuk-table__cell">Manchester University NHS Foundation Trust<br>randd@manu.ac.uk</td>
                    <td class="govuk-table__cell">Manchester University NHS Foundation Trust<br>randd@manu.ac.uk</td>
                </tr>
            </tbody>
        </table>

        <form action="we-found-a-matching-study" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you want to use the details from the matching study for your new study?
                    </legend>
                    
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="use-matching-study" name="use-matching-study" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="use-matching-study">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="use-matching-study-2" name="use-matching-study" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="use-matching-study-2">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
    
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
        
        <!-- <p>
            If the details of the study listed above are the same as the information you've just entered, you should follow the link below.
            This will return you to the system you were in before entering the Government Research Identifier Service.
        </p>

        <p>        
            <a href="#" class="govuk-button" data-module="govuk-button" role="button" draggable="false">
                Return to partner system
            </a>
        </p> -->
    </div>
</div>


{% endblock %}
