{% extends "layouts/offline.html" %}

{% block pageTitle %}
    What is the name of the organisation sponsoring this research? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
    {{ govukBackLink({
        text: "Back",
        href: "add-additional-study-members"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="who-is-the-sponsor" method="post">
            <div class="govuk-form-group">
                <span class="govuk-caption-l">Register a study</span>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="event-name">
                        What is the name of the organisation sponsoring this research?
                    </label>
                </h1>

                <p>A sponsor is the organisation, company, or person responsible for starting, managing, and funding a research study.</p>

                <p>More sponsors can be added at a later stage.</p>

                <div id="sponsor-name-hint" class="govuk-hint">For example, Manchester University NHS Foundation Trust</div>
                <input class="govuk-input" id="sponsor-name" name="sponsor-name" type="text">
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
