{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
    Is this new study related to any other studies? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "who-is-the-sponsor-completed"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       

        <form action="related-to-other-studies" method="post">
            <span class="govuk-caption-l">Register a study</span>

            {{ govukRadios({
                name: "study-related",
                fieldset: {
                    legend: {
                    text: "Is this new study related to any other studies?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                items: [
                    {
                    value: "yes",
                    text: "Yes"
                    },
                    {
                    value: "no",
                    text: "No"
                    }
                ]
            }) }}

            {{ govukDetails({
                summaryText: "I'm not sure if this new study is related to any other studies",
                html: '
                    <p id="study-related-hint">
                    A study is related to another study if it\'s a:
                    </p>
                    <ul class="govuk-list govuk-list--bullet">
                    <li><strong>parent study</strong> - the main research project</li>
                    <li><strong>sub-study</strong> - a smaller research project exploring specific parts of the parent study</li>
                    <li><strong>platform study</strong> - a study with a master protocol which can be updated and expanded using smaller addenda or sub-protocols</li>
                    <li><strong>continuation study</strong> - an extension of an earlier study. This may have a different Integrated Research Application System (IRAS) ID from the parent study.</li>
                    </ul>
                '
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
