{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
    What is the relationship between the new study and the related study? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "related-study-id"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       

        <form action="related-study-relationship" method="post">
            <span class="govuk-caption-l">Register a study</span>

            {{ govukRadios({
                name: "study-relationship",
                fieldset: {
                    legend: {
                    text: "What is the relationship between the new study and the related study?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "Select one option"
                },
                items: [
                    {
                        value: "parent",
                        text: "It's a parent study of another study",
                        hint: {
                            text: "This is a standalone study that may have related studies connected to it."
                        }
                    },
                    {
                        value: "sub",
                        text: "It's a sub-study",
                        hint: {
                            text: "This is a smaller research project exploring specific parts of the parent study"
                        }
                    },
                    {
                        value: "platform",
                        text: "It's a platform study",
                        hint: {
                            text: "This is a study with a master protocol which can be updated and expanded using smaller addenda or sub-protocols"
                        }
                    },
                    {
                        value: "cont",
                        text: "It's a continuation study",
                        hint: {
                            text: "This is an extension of an earlier study. This might have a different integrated research application system ID (IRAS ID) from the parent study."
                        }
                    }
                ]
            }) }}

            {{ govukDetails({
                summaryText: "How do I find out what the relationship is between the new study and the related study?",
                html: ' To determine if a research study is related to another study, you can use the <a href="https://www.nihr.ac.uk/support-and-services/support-for-delivering-research/clinical-research-network/study-support-service">NIHR Open Data Platform (ODP)</a>. This platform provides access to details of all NIHR-supported studies, including recruitment data, allowing you to identify related studies.'
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}
