{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
   New study information - Register a study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Register a study</span>
        <h1 class="govuk-heading-l">
            New study information
        </h1>

		<form action="register-study" method="post">
            <!-- Short title of study -->
            {{ govukInput({
				label: {
					text: "What is the short title of the study?",
					classes: ""
				},
				id: "short-title",
				name: "short-title"
			}) }}

            <!-- Disease area or speciality -->
            {{ govukRadios({
                name: "speciality",
                fieldset: {
                    legend: {
                    text: "What is the disease area or speciality for this study?",
                    classes: ""
                    }
                },
                items: [
                    {
                        "value": "ageing",
                        "text": "Ageing"
                    },
                    {
                        "value": "anaesthesia-perioperative-medicine-pain-management",
                        "text": "Anaesthesia, Perioperative Medicine and Pain Management"
                    },
                    {
                        "value": "cancer",
                        "text": "Cancer"
                    },
                    {
                        "value": "cardiovascular-disease-cardiac-surgery",
                        "text": "Cardiovascular Disease/Cardiac Surgery"
                    },
                    {
                        "value": "children",
                        "text": "Children"
                    },
                    {
                        "value": "critical-care",
                        "text": "Critical Care"
                    },
                    {
                        "value": "dementias-neurodegeneration",
                        "text": "Dementias & Neurodegeneration"
                    },
                    {
                        "value": "dermatology",
                        "text": "Dermatology"
                    },
                    {
                        "value": "diabetes",
                        "text": "Diabetes"
                    },
                    {
                        "value": "ear-nose-throat",
                        "text": "Ear, Nose and Throat"
                    },
                    {
                        "value": "gastroenterology",
                        "text": "Gastroenterology"
                    },
                    {
                        "value": "genetics",
                        "text": "Genetics"
                    },
                    {
                        "value": "haematology-non-cancer",
                        "text": "Haematology (Non-cancer)"
                    },
                    {
                        "value": "health-services-research",
                        "text": "Health Services Research"
                    },
                    {
                        "value": "hepatology",
                        "text": "Hepatology"
                    },
                    {
                        "value": "infection",
                        "text": "Infection"
                    },
                    {
                        "value": "mental-health",
                        "text": "Mental Health"
                    },
                    {
                        "value": "metabolic-endocrine-disorders",
                        "text": "Metabolic and Endocrine Disorders"
                    },
                    {
                        "value": "musculoskeletal-disorders-elective-orthopaedic",
                        "text": "Musculoskeletal Disorders/Elective Orthopaedic"
                    },
                    {
                        "value": "neurological-disorders",
                        "text": "Neurological Disorders"
                    },
                    {
                        "value": "obstetrics-gynaecology",
                        "text": "Obstetrics and Gynaecology"
                    },
                    {
                        "value": "oral-dental-health",
                        "text": "Oral and Dental Health"
                    },
                    {
                        "value": "palliative-care",
                        "text": "Palliative Care"
                    },
                    {
                        "value": "primary-care",
                        "text": "Primary Care"
                    },
                    {
                        "value": "public-health",
                        "text": "Public Health"
                    },
                    {
                        "value": "rare-diseases",
                        "text": "Rare Diseases"
                    },
                    {
                        "value": "renal",
                        "text": "Renal"
                    },
                    {
                        "value": "reproductive-health-childbirth",
                        "text": "Reproductive Health and Childbirth"
                    },
                    {
                        "value": "residential",
                        "text": "Residential"
                    }
                ]
            }) }}

            <!-- Government strategic priorities -->
              {{ govukCheckboxes({
                name: "priorities",
                fieldset: {
                    legend: {
                        text: "Which of the following government strategic priorities does your study align with?",
                        classes: ""
                    }
                },
                hint: {
                    text: "Select all that apply."
                },
                items: [
                    {
                        value: "digital-health-and-data-driven-innovation",
                        text: "Digital health and data-driven innovation"
                    },
                    {
                        value: "healthy-ageing-and-multimorbidity",
                        text: "Healthy ageing and multimorbidity"
                    },
                    {
                        value: "improving-patient-safety-and-quality-of-care",
                        text: "Improving patient safety and quality of care"
                    },
                    {
                        value: "mental-health-and-wellbeing",
                        text: "Mental health and wellbeing"
                    },
                    {
                        value: "prevention-and-early-detection-of-disease",
                        text: "Prevention and early detection of disease"
                    },
                    {
                        value: "public-and-community-health-improvement",
                        text: "Public and community health improvement"
                    },
                    {
                        value: "reducing-health-inequalities",
                        text: "Reducing health inequalities"
                    },
                    {
                        value: "social-care-and-integration-of-services",
                        text: "Social care and integration of services"
                    },
                    {
                        value: "sustainability-and-net-zero-in-health-and-care",
                        text: "Sustainability and net zero in health and care"
                    },
                    {
                        value: "translational-and-clinical-research-capacity-building",
                        text: "Translational and clinical research capacity building"
                    }
                    ,
                    {
                    divider: "or"
                    },
                    {
                    value: "none",
                    text: "None",
                    behaviour: "exclusive"
                    }
                ]
            }) }}

            <!-- Study stage -->
            {{ govukRadios({
                name: "stage",
                fieldset: {
                    legend: {
                    text: "What is the current stage of this study?",
                    classes: ""
                    }
                },
                items: [
                    {
                    value: "discovery-stage",
                    text: "Discovery stage"
                    },
                    {
                    value: "pre-award-stage",
                    text: "Pre-award stage"
                    },
                    {
                    value: "study-implementation-stage",
                    text: "Study implementation stage"
                    },
                    {
                    value: "post-award-stage",
                    text: "Post-award stage"
                    }
                ]
            }) }}

            <!-- Study phase -->
            {{ govukRadios({
                name: "phase",
                fieldset: {
                    legend: {
                    text: "What is the current phase of this study?",
                    classes: ""
                    }
                },
                items: [
                    {
                    value: "pre-clinical",
                    text: "Pre-clinical"
                    },
                    {
                    value: "phase-one",
                    text: "Phase I"
                    },
                    {
                    value: "phase-two",
                    text: "Phase II"
                    },
                    {
                    value: "phase-three",
                    text: "Phase III"
                    },
                    {
                    value: "phase-four",
                    text: "Phase IV"
                    },
                    {
                    divider: "or"
                    },
                    {
                    value: "na",
                    text: "Not applicable"
                    }
                ]
            }) }}

            <!-- Study setting -->
            {{ govukCheckboxes({
                name: "setting",
                fieldset: {
                    legend: {
                    text: "What is the study setting?",
                    classes: ""
                    }
                },
                hint: {
                    html: "<p>Indicate the type of environment in which the study will take place.</p><p>Select all that apply.</p>"
                },
                items: [
                    {
                    value: "primary-care",
                    text: "Primary care",
                    hint: {
                        text: "This could be at a GP practice or community pharmacy"
                    }
                    },
                    {
                    value: "secondary-care",
                    text: "Secondary care",
                    hint: {
                        text: "This could be at a hospital, in an outpatient or an inpatient service"
                    }
                    },
                    {
                    value: "tertiary-care",
                    text: "Tertiary care",
                    hint: {
                        text: "This could be at a specialist or teaching hospital"
                    }
                    },
                    {
                    value: "community-setting",
                    text: "Community setting",
                    hint: {
                        text: "This could be at a school, workplace, or a local community centre"
                    }
                    },
                    {
                    value: "social-care-setting",
                    text: "Social care setting",
                    hint: {
                        text: "This could be at a care home, in a supported living setting, or in domiciliary care"
                    }
                    },
                    {
                    value: "online-or-virtual-setting",
                    text: "Online or virtual setting",
                    hint: {
                        text: "This could be using remote data collection or an online survey"
                    }
                    }             
                ]
            }) }}

            <!-- Study location -->
            {{ govukCheckboxes({
                name: "location",
                fieldset: {
                    legend: {
                    text: "Where is the study located?",
                    classes: ""
                    }
                },
                hint: {
                    html: "<p>Select all that apply.</p>"
                },
                items: [
                    {
                    value: "england",
                    text: "England"
                    },
                    {
                    value: "scotland",
                    text: "Scotland"
                    },
                    {
                    value: "wales",
                    text: "Wales"
                    },
                    {
                    value: "northern-ireland",
                    text: "Northern Ireland"
                    }                               
                ]
            }) }}

            <!-- Name of chief investigator or key lead -->
            {{ govukInput({
				label: {
					text: "What is the chief investigator or key lead's full name?",
					classes: ""
				},
				id: "investigator-name",
				name: "investigator-name"
			}) }}

            <!-- Email address for chief investigator or key lead -->
            {{ govukInput({
				label: {
					text: "What is the chief investigator or key lead's email address?",
					classes: ""
				},
				id: "investigator-email",
				name: "investigator-email"
			}) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form> 
    </div>
</div>
{% endblock %}
