{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Add a new study member to [study name] - manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}     
    {{ govukBackLink({
        text: "Back",
        href: "view-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage study</span>
        <h1 class="govuk-heading-l">Add a new study member to [study name]</h1>
        
        <form action="manage-study-add-member" method="post">
            <div class="govuk-form-group">
                <label class="govuk-label" for="full-name">
                    Full name
                </label>
                <input class="govuk-input" id="full-name" name="member-full-name" type="text" spellcheck="false" autocomplete="name">
            </div>

            <div class="govuk-form-group">
                <label class="govuk-label" for="member-email-address">
                    Email address
                </label>
                <input class="govuk-input" id="member-email-address" name="member-email-address" type="email" spellcheck="false" autocomplete="email">
            </div>

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
