{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
   New study information - Register a study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if errorSummary %}   
            {{ govukErrorSummary({  
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Enter the short title of the study",
                        href: "#short-title"
                    }
                ]
            }) }}
        {% endif %}          
        
		<form action="register-study" method="post">
            <!-- Short title of study -->
            {% if errorSummary %}
            {% set errorMessage = { text: "Enter the short title of the study" } %}
			{% else %}
            {% set errorMessage = null %}
			{% endif %}
            
            <span class="govuk-caption-l">Register a study</span>
            {{ govukInput({
				label: {
					text: "Short title of the study",
					classes: "govuk-label--l",
                    isPageHeading: true
				},
                 hint: {
                    html: '<div class="govuk-inset-text">
                            Check that a [service name] ID does not already exist for this study before you create a new ID.
                            </div>'
                },
				id: "short-title",
				name: "short-title",
                errorMessage: errorMessage
			}) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form> 
    </div>
</div>
{% endblock %}
