{% extends "layouts/main.html" %}

{% block pageTitle %}
    Do you need to add additional study team members? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "confirm-chief-investigator-details"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="add-study-member-email" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Do you need to add additional study team members?
                        </h1>
                    </legend>

                    <p>You must add at least one additional study team member. You do not need to add all study team members, only those who will potentially require access to the update information stored about the study. More study members can be added at a later stage.</p>
                    <p>Study team members will automatically be given read-only access. If a study team member needs to be able to edit the information stored about a study, you can give them edit-access by ticking the check box below.</p>                

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="add-members" name="add-members" type="radio" value="add">
                            
                            <label class="govuk-label govuk-radios__label" for="add-members">
                                Yes, add additional team members
                            </label>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="no-other" name="add-members" type="radio" value="no">
                            
                            <label class="govuk-label govuk-radios__label" for="no-other">
                                No, I can confirm that there are no other team members for this study
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>


{% endblock %}
