{% extends "layouts/main.html" %}

{% block pageTitle %}
    Does the related study have the same IRAS ID as the new study? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "relationship-between-studies"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       

        <form action="does-related-study-have-same-iras-id" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="iras-id-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Does the related study have the same IRAS ID as the new study?
                        </h1>
                    </legend>

                    <p class="govuk-hint" id="iras-id-hint">
                        If you're unsure of the study's IRAS ID, you should be able to find it in the IRAS system or in whichever system you used to gain the study's regulatory and ethical approval.
                    </p>

                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="iras-yes" name="iras-id" type="radio" value="yes">
                            <label class="govuk-label govuk-radios__label" for="iras-yes">
                                Yes
                            </label>
                        </div>
   
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="iras-no" name="iras-id" type="radio" value="no">
                            <label class="govuk-label govuk-radios__label" for="iras-no">
                                No
                            </label>
                        </div>
        
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="iras-unsure" name="iras-id" type="radio" value="unsure">
                            <label class="govuk-label govuk-radios__label" for="iras-unsure">
                                I don't know
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            
            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>

{% endblock %}