{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
    What is the name of the organisation sponsoring the research for [study name]? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "manage-my-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="manage-my-study-add-sponsor" method="post">
            <div class="govuk-form-group">
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="add-sponsor-name">
                        What is the name of the organisation sponsoring the research for [study name]?
                    </label>
                </h1>
                <div id="sponsor-name-hint" class="govuk-hint">For example, Manchester University NHS Foundation Trust</div>
                <input class="govuk-input" id="add-sponsor-name" name="add-sponsor-name" type="text">
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
