{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Enter your password - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "sign-in"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="enter-your-password" method="post">
			{{ govukPasswordInput({
			label: {
				text: "Enter your password",
				classes: "govuk-label--l",
				isPageHeading: true
			},
				id: "password-input",
				name: "password"
			}) }}

            {{ govukButton({
                text: "Continue"
            }) }}
		</form>

        <p><a href="forgot-my-password" class="govuk-link--no-visited-state">I've forgotten my password</a></p>
    </div>
</div>

{% endblock %}
