{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
    What is the new chief investigator's name? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
			text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

	{{ govukBackLink({
		text: "Back",
		href: "manage-study-change-ci"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="manage-study-change-ci-name" method="post">
            <span class="govuk-caption-l">Manage study</span>
			{{ govukInput({
				label: {
					text: "What is the new chief investigator's name?",
					classes: "govuk-label--l",
					isPageHeading: true
				},
				id: "new-ci-name",
				name: "new-ci-name"
			}) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
