{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Which study member do you want to change to the lead applicant? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "view-my-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage study</span>
        
        <form action="manage-study-change-ci" method="post">

            {{ govukRadios({
                name: "change-ci",
                fieldset: {
                    legend: {
                        text: "Which study member do you want to change to the lead applicant?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    text: "This gives the new lead applicant access to update the study's short title and manage team members."
                },
                items: [
                    {
                    value: "jane",
                    text: "Jane Doe",
                    hint: {
                        text: "jane.doe@email.ac.uk"
                    }
                    },
                    {
                    value: "joe",
                    text: "Joe Bloggs",
                    hint: {
                        text: "joe.bloggs@email.com"
                    }
                    },
                    {
                    divider: "or"
                    },
                    {
                    value: "new",
                    text: "Add a new lead applicant"
                    }
                ]
            }) }}

            {{ govukDetails({
                summaryText: "What is a lead applicant?",
                text: "The lead applicant is responsible for managing the study. This is usually the chief or principal investigator, or someone entering details on their behalf."
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
