{% extends "layouts/main-new-header-v4.html" %}

{% block pageTitle %}
    Your request to edit this study has been sent - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Manage study</span>
        <h1 class="govuk-heading-l">
            Your request to edit this study has been sent
        </h1>
               
        <p>We've emailed the lead applicant to update your permissions.</p>

        <h2 class="govuk-heading-m">What happens next?</h2>

        <p>If they approve your request, we'll email you to confirm your new permissions.</p>
        <p>You can <a href="dashboard" class="govuk-link govuk-link--no-visited-state">return to the dashboard</a> to view this study.</p>  
    </div>
</div>

{% endblock %}
