{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Study team member's details have been changed - Manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}    
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}  
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                Study team member's details have been changed
            </h1>
            <div class="govuk-panel__body">
                {{ data['change-full-name'] | title | default('James Bond', true) }}<br>
                {{ data['change-email-address'] | default('james.bond@email.com, true') }}<br>
                {{ data['change-permissions'] | capitalize | default('Read-only', true) }}
            </div>
        </div>
        
        <p>We have updated [study name] with the name, email address and permissions.</p>
                        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We've sent an email to the chief investigator and the study team members to let them know that the team member details have been changed.</p>
        <p>To update more information in this study, <a href="view-my-study" class="govuk-link--no-visited-state">return to manage this study</a>.</p>
    </div>
</div>

{% endblock %}
