{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Reset your password - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Reset your password</h1>

        <form action="reset-my-password" method="post">
            {{ govukPasswordInput({
                label: {
                    text: "Enter a new password"
                },
                hint: {
                    text: "It must be at least 8 characters and include letters and numbers."
                },
                    id: "password-reset",
                    name: "password-reset"
			}) }}

            {{ govukDetails({
                summaryText: "How to create a secure password",
                html: "<p>A good way to create a secure and memorable password is to use 3 random words. You can use numbers, symbols and spaces.</p><p>You should use a password that you do not use for anything else.</p>"
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
		</form>
    </div>
</div>

{% endblock %}
