{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	Sign in to {{ serviceName }} - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: serviceName
      }
    ]
  }) }}

{% endblock %}

{% block content %}
  	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Sign in to [service name]
			</h1>

			<p>Use this service to:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>create a [service name ID]</li>
				<li>view and manage an existing study record</li>
			</ul>

			<h2 class="govuk-heading-m">
				Before you start
			</h2>

			<p>To create an ID for your new study, you'll need to <a href="register-account" class="govuk-link--no-visited-state">register for a [service name] account</a> if you don't already have one.</p>
			<p>You will also need details, such as:</p>
			
			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
				<li>the short title of the study</li>
				<li>team member details</li>
			</ul>

			{{ govukButton({
				text: "Start now",
				href: "sign-in",
				isStartButton: true
			}) }}
		</div>
	</div>
{% endblock %}
