{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	We could not register this study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">We could not register this study</h1>

		<p>To register a study for a [service name] ID, you must be the lead applicant.</p>
		<p>If you need this permission, contact the chief investigator or current lead applicant and request their approval to update the study information.</p>
        
        <p><a href="dashboard" class="govuk-link--no-visited-state">Return to the dashboard</a> or <a href="my-studies" class="govuk-link--no-visited-state">view your studies</a>.</p>
    </div>
</div>

{% endblock %}
