{% extends "layouts/online-login-header.html" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	This page cannot be found - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">We could not register this study</h1>

        <p>In order to register a study for a [service name] ID you must be the chief investigator for the study.</p>
        
        <p><a href="dashboard" class="govuk-link--no-visited-state">Return to the dashboard</a></p>
    </div>
</div>

{% endblock %}
