{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
    Confirmation of GRIS ID – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
                Application complete
            </h1>
            <div class="govuk-panel__body">
                Your government research identifier service ID (GRIS ID) is
                <br><br>
                GRIS-872 872 241
            </div>
        </div>

        <p>We've sent you, the study team members, and the chief investigator an email containing your study's GRIS ID.</p>
        <p>Keep a copy of the GRIS ID for your records. This will help you track and manage your study throughout its lifecycle.</p>

        <h2 class="govuk-heading-m">What happens next</h2>


        <p>You can <a href="dashboard">return to the dashboard</a> to search for and manage studies or <a href="register-study">register a new study</a></p>
        
    </div>
</div>

{% endblock %}