{% extends "layouts/offline-v2.html" %}
{% set containerClasses = "govuk-full-width-body" %}

{% block pageTitle %}
    You have added a sponsoring organisation to [study name] - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-6">
            <h1 class="govuk-panel__title">
                You have added a sponsoring organisation
            </h1>
            <div class="govuk-panel__body">
                {{ data['add-sponsor-name'] | title | default('Manchester University NHS Foundation Trust') }}<br>
                {{ data['add-sponsor-email'] | default('sponsor-email@email.com') }}
            </div>
        </div>
                        
        <h2 class="govuk-heading-m">What happens next</h2>
        <p>We have updated [study name] with the sponsor details.</p>
    </div>
</div>

{% endblock %}
