{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
   Change the lead applicant's details - manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}  
    {{ govukBackLink({
        text: "Back",
        href: "view-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">      
        <span class="govuk-caption-l">Manage study</span>
        <h1 class="govuk-heading-l">Change the lead applicant's details</h1>   
        
        {{ govukWarningText({
            html: "Changing the lead applicant removes the original lead applicant's access to this study.<br><br>If they still need access, the new lead or an editor must add them as a study team member.",
            iconFallbackText: "Warning"
        }) }}

        <form action="manage-study-change-ci" method="post">  
            <!-- Name of chief investigator or key lead -->
            {{ govukInput({
				label: {
					text: "What is the lead applicant's full name?",
					classes: ""
				},
				id: "change-investigator-name",
				name: "change-investigator-name"
			}) }}

            <!-- Email address for chief investigator or key lead -->
            {{ govukInput({
				label: {
					text: "What is the lead applicant's email address?",
					classes: ""
				},
				id: "change-investigator-email",
				name: "change-investigator-email"
			}) }}

            {{ govukDetails({
                summaryText: "What is a lead applicant?",
                text: "The lead applicant is responsible for managing the study. This is usually the chief or principal investigator, or someone entering details on their behalf."
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}