{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
   Change short title of study - manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      

    {{ govukBackLink({
        text: "Back",
        href: "view-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">        
        <form action="manage-study-change-title" method="post">
            <div class="govuk-form-group">
                <span class="govuk-caption-l">Manage study</span>
                <h1 class="govuk-label-wrapper">
                    <label class="govuk-label govuk-label--l" for="change-title">
                        What is the short title of the study?
                    </label>
                </h1>
                <input class="govuk-input" id="change-title" name="change-title" type="text">
            </div>        

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
