{% extends "layouts/offline-login-header.html" %}
{% set containerClasses = "govuk-full-width-body" %}
{% set serviceName="Service name" %}

{% block pageTitle %}
	View study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukBackLink({
        text: "Back",
        href: "search-results"
    }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <span class="govuk-caption-l">View study</span>
        <h1 class="govuk-heading-l">Investigating left arm disease</h1>
    </div>
</div>
<div class="govuk-grid-row">
    <!-- Main Content --> 
	<div class="govuk-grid-column-full">
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Study details
                </h2>
            </div>

            <!-- Study details -->
            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Short title of study
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Investigating left arm disease
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            [Service name ID]
                        </dt>
                        <dd class="govuk-summary-list__value">
                            GRIS-{{ data['search-gris-id-one'] | default('111') }} {{ data['search-gris-id-two'] | default('111') }} {{ data['search-gris-id-three'] | default('111') }}
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Chief investigator's name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Amrit Banstola
                        </dd>
                    </div>

                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Chief investigator's email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            a.banstola@email.ac.uk
                        </dd>
                    </div>
                </dl>
            </div>
        </div>

        <!-- Study members -->
        <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
                <h2 class="govuk-summary-card__title">
                    Study members
                </h2>
            </div>

            <div class="govuk-summary-card__content">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Jane Doe
                        </dt>
                        <dd class="govuk-summary-list__value">
                            jane.doe@email.ac.uk
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Joe Bloggs
                        </dt>
                        <dd class="govuk-summary-list__value">
                            joe.bloggs@email.com
                        </dd>
                    </div>
                </dl>
            </div>
        </div>        
    </div>
</div>

{% endblock %}
