{% extends "layouts/online-login-header.html" %}


{% block pageTitle %}
  Does the study have an integrated research application system ID (IRAS ID)? - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
			text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

	{{ govukBackLink({
		text: "Back",
		href: "who-is-the-sponsor-completed"
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if radioError or inputError %}

        {% set errorList = [] %}

        {% if radioError %}
            {% set errorList = errorList.concat([{
            text: radioError.text,
            href: "#iras-id"
            }]) %}
        {% endif %}

        {% if inputError %}
            {% set errorList = errorList.concat([{
            text: inputError.text,
            href: "#iras-id-input"
            }]) %}
        {% endif %}

        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
        }) }}

        {% endif %}

        <form action="does-study-have-iras-id" method="post">
            <span class="govuk-caption-l">Register a study</span>

            {% set yesHtml %}
                {{ govukInput({
                    id: "iras-id-input",
                    name: "iras-id-input",
                    type: "text",
                    spellcheck: false,
                    classes: "govuk-!-width-two-thirds",
                    label: {
                    text: "IRAS ID"
                    },
                    value: data["iras-id-input"],
                    errorMessage: inputError
                }) }}
            {% endset -%}

            {{ govukRadios({
                idPrefix: "iras-id",
                name: "iras-id",
                value: data["iras-id"],
                fieldset: {
                legend: {
                    text: "Does the study have an integrated research application system ID (IRAS ID)?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--l"
                }
                },
                    hint: {
                    text: "Your study does not need an IRAS ID to register. "
                },
                items: [
                {
                    value: "yes",
                    text: "Yes",
                    conditional: {
                    html: yesHtml
                    }
                },
                {
                    value: "no",
                    text: "No"
                }
                ],
                errorMessage: radioError
            }) }}

            {{ govukDetails({
                summaryText: "How do I find the IRAS ID?",
                html: "If you're not sure what the study's IRAS ID is, you can usually find it in the IRAS system or in the system used to apply for approvals."
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}