{% extends "layouts/online-login-header.html" %}


{% block pageTitle %}
	Enter the 6-digit security code as you see it in your authenticator app - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "enter-your-password"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        {% if errorSummary %}
			{% set errorMessage = { text: "Enter your 6-digit security code" } %}
		{% else %}
			{% set errorMessage = null %}
		{% endif %}

		{% if errorSummary %}
            {{ govukErrorSummary({  
                titleText: "There is a problem",
                errorList: [
                    {
                        text: errorMessage.text,
                        href: "#auth-code"
                    }
                ]
            }) }}
        {% endif %}   

        <form action="enter-auth-code" method="post">
            {{ govukInput({
                label: {
                    text: "Enter the 6-digit security code as you see it in your authenticator app",
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                classes: "govuk-input--width-10",
                id: "auth-code",
                name: "auth-code",
                errorMessage: errorMessage
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
		</form>

        {{ govukDetails({
            summaryText: " I do not have access to the authenticator app",
            html: "You can securely <a href=\"#\">change how you get security codes</a>."
        }) }}
        </details>
    </div>
</div>


{% endblock %}
