{% extends "layouts/online-login-header.html" %}


{% block pageTitle %}
   Are you sure you want to delete [member name] from [study name]? - Manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}   
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}  

    {{ govukBackLink({
        text: "Back",
        href: "view-my-study"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">   
        {% if errorSummary %}
            {{ govukErrorSummary({  
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Select if you want to delete team member",
                        href: "#delete-member-yes"
                    }
                ]
            }) }}
        {% endif %}       

        <form action="manage-study-delete-member" method="post">
            <div class="govuk-form-group">
                <span class="govuk-caption-l">Manage study</span>

                {% if errorSummary %}
                    {% set errorMessage = { text: "Select if you want to delete team member" } %}
                {% else %}
                    {% set errorMessage = null %}
                {% endif %}

                {{ govukRadios({
                    name: "delete-member",
                    fieldset: {
                        legend: {
                        text: "Are you sure you want to delete [member name] from [study name]?",
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                        }
                    },
                    items: [                
                        {
                            value: "yes",
                            text: "Yes",
                            id: "delete-member-yes"
                        },
                        {
                            value: "no",
                            text: "No",
                            id: "delete-member-no"
                        }
                    ],
                    errorMessage: errorMessage
                }) }}
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
