{% extends "layouts/online-login-header.html" %}


{% block pageTitle %}
   Add a sponsoring organisation - Manage study - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}   
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "manage-study-add-sponsor-name"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">      
        {% if errorSummary %}
            {{ govukErrorSummary({  
                titleText: "There is a problem",
                errorList: [
                    {
                        text: "Enter the sponsoring organisation\'s email address",
                        href: "#add-sponsor-email"
                    }
                ]
            }) }}
        {% endif %}        

        <form action="manage-study-add-sponsor-email" method="post">
            <span class="govuk-caption-l">Manage study</span>

            {% if errorSummary %}
                {% set errorMessage = { text: "Enter the sponsoring organisation\'s email address" } %}
            {% else %}
                {% set errorMessage = null %}
            {% endif %}

            {{ govukInput({
                label: {
                    text: "Add the email address of the sponsoring organisation's point of contact",
                    classes: "govuk-label--l",
                    isPageHeading: true
                },
                id: "add-sponsor-email",
                name: "add-sponsor-email",
                type: "email",
                autocomplete: "email",
                errorMessage: errorMessage
            }) }}

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>
    </div>
</div>

{% endblock %}
