{% extends "layouts/online-login-header.html" %}



{% block pageTitle %}
	Sign in to {{ serviceName }} - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "/"
      },
      {
        text: serviceName
      }
    ]
  }) }}

{% endblock %}

{% block content %}
  	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl">
				Sign in to Get a research ID
			</h1>

			<p>Use this service to:</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>create a research ID</li>
				<li>view and manage an existing study record</li>
			</ul>

			<h2 class="govuk-heading-m">
				Before you start
			</h2>

			{{ govukWarningText({
				html: 'To register for a research ID, you must be the chief investigator responsible for managing the study.',
				iconFallbackText: "Warning"
			}) }}

			<p>To create an ID for your new study, you'll need to <a href="register-account-name" class="govuk-link--no-visited-state">create a Get a research ID account</a> if you don't already have one.</p>
			<p>You'll also need details, such as:</p>
			
			<ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
				<li>the short title of the study</li>
				<li>team member details</li>
			</ul>

			{{ govukButton({
				text: "Start now",
				href: "sign-in",
				isStartButton: true
			}) }}
		</div>
	</div>
{% endblock %}
