{% extends "layouts/main.html" %}

{% block pageTitle %}
    Check your answers before you submit – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       
        <h1 class="govuk-heading-l">Check your answers before you submit</h1>

        <p>If you notice a mistake, you can change your response by clicking 'Change'. You will also have the option to change the responses after the submission.</p>
    
        <h2 class="govuk-heading-m">New study information</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Short study title
                </dt>
                <dd class="govuk-summary-list__value">
                    Investigating Left Arm Disease
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> short study title</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Chief Investigator ORCID ID
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">0009-0000-6037-7481</p>
                    <p class="govuk-body">Peter Jones</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Chief Investigator ORCID ID</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Study team members
                </dt>
                <dd class="govuk-summary-list__value">
                    joe.bloggs@research.ac.uk
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Study team members</span></a>
                </dd>
            </div>
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sponsor
                </dt>
                <dd class="govuk-summary-list__value">
                    Manchester University NHS Foundation Trust
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> sponsor</span></a>
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m">Related study information</h2>

        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Short study title
                </dt>
                <dd class="govuk-summary-list__value">
                    Investigating Left Arm Disease
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> short study title</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Chief Investigator ORCID ID
                </dt>
                <dd class="govuk-summary-list__value">
                    <p class="govuk-body">0009-0000-6037-7481</p>
                    <p class="govuk-body">Peter Jones</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Chief Investigator ORCID ID</span></a>
                </dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Study team members
                </dt>
                <dd class="govuk-summary-list__value">
                    joe.bloggs@research.ac.uk
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> Study team members</span></a>
                </dd>
            </div>
            
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Sponsor
                </dt>
                <dd class="govuk-summary-list__value">
                    Manchester University NHS Foundation Trust
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> sponsor</span></a>
                </dd>
            </div>
        </dl>
        
        <a href="#" class="govuk-button" data-module="govuk-button" role="button" draggable="false">
            Continue
        </a>
    </div>
</div>

{% endblock %}