{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
	Add a new study member - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "manage-my-study-add-member-2"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <form action="manage-my-study-add-member-3" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h1 class="govuk-fieldset__heading">
                                What permissions should be granted to this member for [study name]?
                            </h1>
                        </legend>

                        <div class="govuk-radios" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="permissions" name="permissions" type="radio" value="read only" aria-describedby="permissions-item-hint">
                                <label class="govuk-label govuk-radios__label" for="permissions">
                                    Read only
                                </label>
                                <div id="permissions-item-hint" class="govuk-hint govuk-radios__hint">
                                    This option allows the member to view and read all information associated with [study name], but they will not be able to make changes to the information or add new study members.
                                </div>
                            </div>

                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="permissions-2" name="permissions" type="radio" value="editor" aria-describedby="permissions-2-item-hint">
                                <label class="govuk-label govuk-radios__label" for="permissions-2">
                                    Editor
                                </label>
                                <div id="permissions-2-item-hint" class="govuk-hint govuk-radios__hint">
                                    This option allows the member to update study information for [study name], and add or remove existing study members.
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
   

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>

{% endblock %}
