{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
	My studies - {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "dashboard"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">My studies</h1>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Study name</th>
                    <th scope="col" class="govuk-table__header govuk-table__header--numeric">Actions</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Investigating left arm disease</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="manage-my-study">Manage</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Investigating right arm disease</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Manage</a></td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Investigating left leg disease</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric"><a class="govuk-link" href="#">Manage</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
