{% extends "layouts/main-new-header.html" %}

{% block pageTitle %}
    What is the relationship between the current study and the related study? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}      
	{{ govukPhaseBanner({
		tag: {
		text: "Alpha"
		},
		html: 'This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us improve it.'
	}) }}

    {{ govukBackLink({
        text: "Back",
        href: "do-you-know-gris-id"
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">       

        <form action="relationship-between-studies" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="study-relationship-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            What is the relationship between the current study and the related study?
                        </h1>
                    </legend>
                    
                    <p class="govuk-hint" id="study-relationship-hint">
                        Please select the relationship that best describes how the studies are related.
                    </p>
         
                    <div class="govuk-radios" data-module="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-sub" name="study-relationship" type="radio" value="sub">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-sub">
                                It is a sub-study of another study
                            </label>
                            <div id="sub-study-hint" class="govuk-hint govuk-radios__hint">
                                this applies to studies where patients that participate in a parent study take part in additional optional activity to that of the parent study
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-parent" name="study-relationship" type="radio" value="parent">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-parent">
                                It is a parent study of another study
                            </label>
                            <div id="parent-study-hint" class="govuk-hint govuk-radios__hint">
                                this applies to standalone studies that may have related studies
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-platform" name="study-relationship" type="radio" value="platform">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-platform">
                                It is a platform study
                            </label>
                            <div id="parent-study-hint" class="govuk-hint govuk-radios__hint">
                                this applies to studies with a master protocol that is made up of addendums and study arms that may have sub-protocols
                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="study-relationship-cont" name="study-relationship" type="radio" value="cont">
                            <label class="govuk-label govuk-radios__label" for="study-relationship-cont">
                                It is a continuation study
                            </label>
                            <div id="parent-study-hint" class="govuk-hint govuk-radios__hint">
                                this applies to studies that typically recruit participants from the parent study but have a different IRAS ID to that of the parent study
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help with the relationship between the current study and the related study
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Content needed here to help the user with relationship between the current study and the related study.
                </div>
            </details>

            {{ govukButton({
                text: "Continue"
            }) }}
        </form>

    </div>
</div>


{% endblock %}
