{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{ serviceName }} (GRIS)
		</h1>

		<p>The Government Research Identifier Service is a service used to create a unique ID (known as a Government Research Identifier) for a research study. This unique ID will store key information about a study, and users will be able to update this information using the Government Research Identifier Service.</p>

		<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
			<div class="govuk-notification-banner__header">
				<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
					Important
				</h2>
			</div>
			<div class="govuk-notification-banner__content">
				<p>
					Please note that online v1 - v4 and offline v1 - v2 were originally designed using an older version of the GOV.UK toolkit, which used the old branding. To get the best representation of how these iterations orignally looked please refer to the Miro boards found in the sidebar. 
				</p>
			</div>
		</div>

		<h2 class="govuk-heading-l">Online journey</h2>

		<!-- v6 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 6 - Removal of One Login and study management functionality
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 6 - Removal of One Login and study management functionality</h3>
				
				<p class="govuk-hint">(28/10/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>New login system and header</li>
					<li>Removal of GOV.UK One Login and all references</li>
					<li>Removal of manage study functionality and activity log</li>
					<li>Slightly refined register study journey (removal of un-needed steps, reworked study location from radio buttons to checkboxes, alphabetical order of options etc.)</li>
				</ul>

				<h4 class="govuk-heading-s">Other screens</h4>

				<ul>
					<li><a href="/v6/no-studies-found" class="govuk-link govuk-link--no-visited-state">No studies found</a></li>
					<li><a href="/v6/404" class="govuk-link govuk-link--no-visited-state">404 Page</li>
				</ul>

				<a href="/v6/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details> 

		<!-- v5 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 5 - New GOV branding and updated register journey
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 5 - New branding</h3>
				
				<p class="govuk-hint">(29/09/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Whole service re-skinned in the new GOV branding</li>
					<li>Register journey reworked to capture more data for reporting</li>
					<li>New check your answers layout for register journey with more options to change information</li>
					<li>Activity log showing edit history for study and new manage options have been added to manage my study page </li>
					<li>My studies page updated to see permissions of each study easily at a glance</li>
					<li>Read only view of a study where you have read-only access with request access to become an editor functionality and page</li>
					<li>Session timeout for logged in users</li>
					<li>404 page</li>
				</ul>

				<h4 class="govuk-heading-s">Other screens</h4>

				<ul>
					<li><a href="/v5/404" class="govuk-link govuk-link--no-visited-state">404 Page</li>
				</ul>

				<a href="/v5/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details> 

		<!-- v4 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 4 - Creates a GRIS ID without a login
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 4 - Creates a GRIS ID without a login</h3>
				
				<p class="govuk-hint">(27/05/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>A system that generates a GRIS ID without the need of a login system - the hypothesis being that having to have more login credentials is a barrier</li>
					<li>A system that can view and manage a study by providing relevant details, and without a login</li>
					<li>Kickout screen added when searching for a study using incorrect credentials, <strong>GRIS-111 111 111</strong> for GRIS ID and <strong>notfound@email.com</strong> for Chief Investigator email address</li>
					<li>Implemented error messages when fields are blank or don't fit criteria when searching for a study and chief investigator email address</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>Exploration needs to be done on how viable this is as an option in regards to security of data</li>
					<li>Error messaging throughout, for example when fields are left blank, and more kickout screen, 404 etc.</li>
				</ul>

				<a href="/v4/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details> 

		<!-- v3.1 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 3.1 - Content reviewed and updated
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 3.1 - Content reviewed and updated</h3>
				
				<p class="govuk-hint">(16/05/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Updated the content throughout now that the content review has been done</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>No studies found or read only versions of dashboard screens need exploring</li>
					<li>Kickout / 404 pages etc. also still need to be looked at</li>
				</ul>

				<a href="/v3-1/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details> 

		<!-- v3 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 3 - Exploring login system and dashboard
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 3 - Exploring login system and dashboard</h3>
				
				<p class="govuk-hint">(07/04/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Updated the header component throughout to bring in line with new pattern with service name</li>
					<li>Explored GOV.UK One Login as a way of authenticating and logging instead of a third party login</li>
					<li>Designed a whole dashboard studies management area to view / edit / manage studies and users</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>Content needs to be updated, <strong>currently in review</strong></li>
					<li>No studies found or read only versions of dashboard screens need exploring</li>
					<li>Kickout / 404 pages etc. also still need to be looked at</li>
				</ul>

				<a href="/v3/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<!-- v2 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 2 - Updating components from initial design
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 2 - Updating components from initial design</h3>
				
				<p class="govuk-hint">(19/03/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Changed off pattern deisgns and components to be on pattern </li>
					<li>Added in any necessary missing pages to the journey</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>The journey flow itself still needs work / screens breaking down</li>
					<li>Content needs looking at by a content designer</li>
					<li>Service unavailable / 404 page / Kickout pages missing etc.</li>
				</ul>

				<a href="/v2/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<!-- v1 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Version 1 - Initial design from UR Workshop
			  </span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 1 - Initial design from UR Workshop</h3>
				
				<p class="govuk-hint">(26/02/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Converted provided flat designs in to coded screens</li>
					<li>Clickable journey through the coded screens where possible</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>Currrent designs are not currently on pattern</li>
					<li>The journey flow itself needs work / screens breaking down</li>
					<li>Some of journey doesn't even have pages - only happy path</li>
					<li>Content needs looking at by a content designer</li>
				</ul>

				<a href="/v1/sign-in" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<hr class="govuk-!-margin-bottom-6">

		<h2 class="govuk-heading-l">Offline journey</h2>

		<!-- v4 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Version 4 - Removal of study management functionality
			  </span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 4 - Removal of study management functionality</h3>
				
				<p class="govuk-hint">(30/10/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>New login system and header</li>
					<li>Removal of manage study functionality and activity log</li>
					<li>Slightly refined register study journey (removal of un-needed steps, reworked study location from radio buttons to checkboxes, alphabetical order of options etc.)</li>
				</ul>

				<h4 class="govuk-heading-s">Other screens</h4>

				<ul>
					<li><a href="/offline-v4/no-studies-found" class="govuk-link govuk-link--no-visited-state">No studies found</a></li>
					<li><a href="/offline-v4/404" class="govuk-link govuk-link--no-visited-state">404 Page</li>
				</ul>

				<a href="/offline-v4/sign-in" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<!-- v3 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Version 3 - New GOV branding and updated register journey
			  </span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 3 - New GOV branding and updated register journey</h3>
				
				<p class="govuk-hint">(17/10/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Whole service re-skinned in the new GOV branding</li>
					<li>Register journey reworked to capture more data for reporting</li>
					<li>New check your answers layout for register journey with more options to change information</li>
					<li>Session timeout for logged in users</li>
					<li>404 page</li>
				</ul>

				<h4 class="govuk-heading-s">Other screens</h4>

				<ul>
					<li><a href="/offline-v3/404" class="govuk-link govuk-link--no-visited-state">404 Page</li>
				</ul>

				<a href="/offline-v3/sign-in" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<!-- v2 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Version 2 - Advanced search and condensed questions
			  </span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 2 - Advanced search and condensed questions</h3>
				
				<p class="govuk-hint">(06/08/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>More advanced search options with shorter journey</li>
					<li>New search results screen with filter / sorting options / more information</li>
					<li>Full width page layout to enable more content on screen</li>
					<li>Manage study screen now has an activity log</li>
					<li>Heading 'hint text' added to different journeys (e.g. manage study, register a study)</li>
					<li>Add a study journey has been condensed to more than one question per page</li>
					<li>Missing screens on manage study for changing short title, chief investigator email address, sponsor details, existing study team members</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>Need to explore MFA to protect study information from potential bad actors</li>
					<li>Session time out might also be a nice addition for security purposes</li>
				</ul>

				<a href="/offline-v2/sign-in" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<!-- v1 -->
		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Version 1 - Initial design
			  </span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 1 - Initial design</h3>
				
				<p class="govuk-hint">(18/07/2025)</p>

				<div class="govuk-inset-text">
					When searching via GRIS ID if you enter <strong>000</strong> in the inputs, you will get 'no results found' anything else and you will see results.<br><br>
					When searching via study name, if you enter <strong>investigating</strong> you will get results with pagination, anything else will show 'no results found'.
				</div>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Login system and dashboard for call centre staff</li>
					<li>Ability to search via GRIS ID or study name and manage the study</li>
					<li>Register a new study in the same fashion we would on the online route using v3.1 as a base</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>From prior projects / research call centre staff sometimes like to have a 'condensed' journey, more than one question per page so this is something we would like to try and test in version 2.</li>
				</ul>

				<a href="/offline-v1/sign-in" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>
	</div>

	<!-- Sidebar starts here -->
	<div class="govuk-grid-column-one-third">
		<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
				Useful links
			</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li>
						<a href="https://nihr.atlassian.net/wiki/spaces/NIHRDIGSTRAT/pages/1528987681/UCD+Design+Log" target="_blank" class="govuk-link--no-visited-state">
							Design log
						</a>
					</li>
					<li>
						<a href="https://miro.com/app/board/uXjVISvynb8=/" target="_blank" class="govuk-link--no-visited-state">
							Miro design history (online)
						</a>
					</li>
					<li>
						<a href="https://miro.com/app/board/uXjVIhzkT1I=/" target="_blank" class="govuk-link--no-visited-state">
							Miro design history (offline)
						</a>
					</li>
					<li>
						<a href="https://lucid.app/lucidspark/ccf551bb-f91a-4a99-b775-53ae72738b40/edit?invitationId=inv_e114c4fd-8307-4c8b-a0c2-870be96cdabd&page=0_0#" target="_blank" class="govuk-link--no-visited-state">
							UR Workshop board
						</a>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
	<!-- Sidebar ends here -->

</div>

{% endblock %}
