{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}      

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<h1 class="govuk-heading-xl">
			{{ serviceName }} (GRIS)
		</h1>

		<p>The Government Research Identifier Service is a service used to create a unique ID (known as a Government Research Identifier) for a research study. This unique ID will store key information about a study, and users will be able to update this information using the Government Research Identifier Service.</p>

		<h2 class="govuk-heading-l">Iterations</h2>

		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 3 - Exploring login system and dashboard
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 3 - Exploring login system and dashboard</h3>
				
				<p class="govuk-hint">(07/04/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>TBC</li>
					<li>TBC</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>TBC</li>
					<li>TBC</li>
				</ul>

				<a href="/v3/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<details class="govuk-details">
			<summary class="govuk-details__summary">
				<span class="govuk-details__summary-text">
					Version 2 - Updating components from initial design
				</span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 2 - Updating components from initial design</h3>
				
				<p class="govuk-hint">(19/03/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Changed off pattern deisgns and components to be on pattern </li>
					<li>Added in any necessary missing pages to the journey</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>The journey flow itself still needs work / screens breaking down</li>
					<li>Content needs looking at by a content designer</li>
					<li>Service unavailable / 404 page / Kickout pages missing etc.</li>
				</ul>

				<a href="/v2/start" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>

		<details class="govuk-details">
			<summary class="govuk-details__summary">
			  <span class="govuk-details__summary-text">
				Version 1 - Initial design from UR Workshop
			  </span>
			</summary>
			<div class="govuk-details__text">
				<h3 class="govuk-heading-m govuk-!-margin-bottom-0">Version 1 - Initial design from UR Workshop</h3>
				
				<p class="govuk-hint">(26/02/2025)</p>
				
				<h4 class="govuk-heading-s">What we created</h4>
				
				<ul>
					<li>Converted provided flat designs in to coded screens</li>
					<li>Clickable journey through the coded screens where possible</li>
				</ul>

				<h4 class="govuk-heading-s">Known issues</h4>

				<ul>
					<li>Currrent designs are not currently on pattern</li>
					<li>The journey flow itself needs work / screens breaking down</li>
					<li>Some of journey doesn't even have pages - only happy path</li>
					<li>Content needs looking at by a content designer</li>
				</ul>

				<a href="/v1/sign-in" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
					View prototype
				</a>
			</div>
		</details>
	</div>

	<!-- Sidebar starts here -->
	<div class="govuk-grid-column-one-third">
		<aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
			<h2 class="govuk-heading-m" id="subsection-title">
				Useful links
			</h2>
			<nav role="navigation" aria-labelledby="subsection-title">
				<ul class="govuk-list govuk-!-font-size-16">
					<li>
						<a href="#">
							Design log
						</a>
					</li>
					<li>
						<a href="https://miro.com/app/board/uXjVISvynb8=/">
							Miro design history
						</a>
					</li>
					<li>
						<a href="https://lucid.app/lucidspark/ccf551bb-f91a-4a99-b775-53ae72738b40/edit?invitationId=inv_e114c4fd-8307-4c8b-a0c2-870be96cdabd&page=0_0#">
							UR Workshop board
						</a>
					</li>
				</ul>
			</nav>
		</aside>
	</div>
	<!-- Sidebar ends here -->

</div>

{% endblock %}
